[2020-01-25 19:28] Shamoon78 commented on #92
@ Evovita, thank you for sharing your files and tyring to help, I tried your configuration with no changes  but the issue still there, the only difference now I have a green led light on close to usb connection ,I think is the Wifi module , that iam not using, not sure though, Is there anyway to test the if the serial connection on mainboard or on screen is defective ?(the serial port I mean the 5

[2020-01-25 22:16] Evovita commented on #92
@Shamoon78 The green led light close to the usb connection shouldn't be on all the time - at least when the printer is idle. When you flash the firmware on the SKR Pro (via the micro SD card), it will flash a few times then stop. This suggests to me that the firmware might be corrupt and if so, explain why, the TFT won't connect to the board. Another issue could be that the micro SD card isn't wor

[2020-01-25 22:19] Shamoon78 commented on #92
Its not the one that flash close to mcu , its the one close to wifi socket
.

On Sun, 26 Jan 2020 at 9:16 am, Evovita <notifications@github.com> wrote:

[2020-01-25 22:21] Shamoon78 commented on #92
I tried 3 sd card all flashing and reading from computer ok none have issue
.

On Sun, 26 Jan 2020 at 9:18 am, Hardware Loaded <rafiyousif1978@gmail.com>
wrote:

[2020-01-25 22:24] Shamoon78 commented on #92
And exactly that what i have like your attached photo but the green light
come on one time only and stay on until i reset the board and only the blue
and 3 red lights are on .

On Sun, 26 Jan 2020 at 9:16 am, Evovita <notifications@github.com> wrote:

[2020-01-25 22:42] Shamoon78 commented on #92
@Evovita , iam not sure if i attached the ribbon cable wrong the first time , that might damage the board hardware ? Or only can corrupt bootloader of mcu , and even if its damaged iam not sure what to order new tft or board iam worry to plug any of them on new ones.😕

[2020-01-25 23:42] oldman4U commented on #58
Hello spattinson.

Thank you for joining.

In the meantime I got a second SKR Pro v1.1 and it shows the same issue using the A4988s I got with the first board. Only rflulling has been able to get his A4988 to work with this board so far and I hope you will be able so too. Would be great if you could let us know.

[2020-01-26 00:34] rflulling commented on #58
I really would not argue that I am the only one to get this to work. Many
start out with A4988. Some of you are having an issue that is not fully
understood. The firmware is the same for us all. What differs is the
configuration file and the hardware itself. If the configuration file is
clean, or a known good state that should compile every time. Then the
hardware is the suspect.

BigTreeTech is l

[2020-01-26 00:50] Evovita commented on #92
@Shamoon78 As I said earlier, try connecting to the board using _Pronterface_ (unplug the TFT altogether) - if it works e.g. you can move your axis, heat up bed/extruder etc then you at least know the SKR Pro is unlikely to be the culprit.

[2020-01-26 01:26] mbdiler35 commented on #93
after removing the pin on drivers all works fine now.

[2020-01-26 01:26] #93 closed

[2020-01-26 02:07] spattinson commented on #58
My board arrived and I have a ready flashed esp01s my drivers are all working. I had a long period of messing around before I realise the 250000 does not work, changed to 115200 and it works. so my A8498 and TMC2100 drivers work fine.. I need to work on my BLtouch tomorrow as its getting late now, but at least xyz motors work and XY endstops work. ESP3D command work, USB does not work. Have serial

[2020-01-26 03:28] rflulling commented on #58
The Marlin 2.0 branch, the official version should support the USB port. I
think there is also a define for it in the configuration_adv

On Sat, Jan 25, 2020 at 8:07 PM spattinson <notifications@github.com> wrote:

[2020-01-26 05:10] Evovita commented on #92
And...after a few more tweaks to my Marlin firmware that were limited to acceleration settings and adding some comments, and then reflashing the board...the problem is back. Restart several times, no change. Recompile the firmware then reflash again, "no printer attached" quickly disappears. It is as if the delay in applying the firmware may help in the TFT serial port connection. Either way, the

[2020-01-26 05:36] rndsum commented on #92
Make sure your baud rate is set to
#define BAUDRATE 115200

Their TFT's can't handle much faster than that.

[2020-01-26 05:42] Shamoon78 commented on #92
As i mentioned in the main post everything is working fine when controlled
by computer even i can print normally through usb port

On Sun, 26 Jan 2020 at 11:50 am, Evovita <notifications@github.com> wrote:

[2020-01-26 05:45] Shamoon78 commented on #92
I Tried that as well does not solve the problem

On Sun, 26 Jan 2020 at 4:36 pm, rndsum <notifications@github.com> wrote:

[2020-01-26 05:56] Shamoon78 commented on #92
@ Evovita so you have the issue again but what you mean by "delay in
applying the firmware"?

On Sun, 26 Jan 2020 at 4:10 pm, Evovita <notifications@github.com> wrote:

[2020-01-26 05:58] Shamoon78 commented on #92
@ Evovita so you have the issue again but what you mean by "delay in
applying the firmware"?

On Sun, 26 Jan 2020 at 4:10 pm, Evovita <notifications@github.com> wrote:

[2020-01-26 08:48] Evovita commented on #92
Eureka! The problem - at least for me - turned out to be the a **faulty TFT ribbon cable connector at the motherboard end**. Despite making sure it was plugged in snugly numerous times, it appears the pins were not consistently making a solid connection and would therefore periodically disconnect which coincided with me applying firmware updates etc. My temporary fix until I get a new cable/connec

[2020-01-26 10:12] oldman4U commented on #58
@rflulling So I should have been more precisely by saying related to this ticket, you have been the only one.... But it seems that we have now also spattinson able to use the A4988. I agree that for the price of the board support can not be expected and I bought a second board just to make sure it is not the board. If you think I should close this ticket here, because the issue is not firmware rel

[2020-01-26 11:19] UnderXirox commented on #48
### Sorry for the response time

**yes** i noticed ... i changed place like on the doc and nothing nor changes
but I had the concern of the card received since
I go through ESP and it rolls except uploads gcode via esp I pass the lcd sd card (cr-10s)
I received a 2nd card and the USB function works well.

sorry for my english ...

[2020-01-26 13:50] spattinson commented on #58
@oldman4U I get no communication at 250000, not even garbled characters, I'll revisit that when I get everything else working. Change to 115200 and it works via ESP3D, also USB port works now, had to enable DTR option in Pronterface. Am currently trying to get LCD display working. Its defined as REPRAP_DISCOUNT_SMART_CONTROLLER. and worked on my previous GT2560 board.

[2020-01-26 17:03] rflulling commented on #58
No I'm not asking you to close your ticket. But I encourage you and
everyone who is having difficulty with the setup to consider all available
options for sources of assistance. Also consider there are likely hundreds
if not even possibly thousands of us like me who use the same or have you
used the same configuration without issue. And I would like for you to
consider that because there are many

[2020-01-26 19:32] oldman4U commented on #58
@spattinson
I think the Pro is a great board for the money and MARLIN changed a lot since I saw it the first time. Wish you the best.

@rflulling Even I am a beginner, I can not imagine a single thing I have not tried yet. I even bought additional hardware which I will probably never need, just to make sure that the problem is sitting in front of the computer. The board works fine for me with 2208

[2020-01-27 08:35] #62 closed

[2020-01-27 09:05] spattinson commented on #58
250000 works for me now. I am not sure what the issue was, at that time pronterface didn't work but esp3d did wotk. The steps i took were to reduce to 115200 then enabled dtr option. Both ports work. Change speed to 250000 that works too now. Esp3d may require reboot to change speed. Both my tmc2100 and A4988 are standalone drivers. Idk what the issue is with people here and them not working, a498

[2020-01-27 14:56] bmxorcist commented on #36
Can anyone tell me how to determine what pin number to enter for the letter/number pins on an STM32 based board (SKR Mini E3)?  Trying to activate the HEATBED(PC9), HE0(PC8), and Fan0(PA8) pins on an SKR Mini for a custom application. Entering "M42 PC9 Sxx" just echos "M42 P0 Sxx". Any other combination of numbers that I've tried doesn't work either. Looking in fastio.h led me to try "P29" for PC9

[2020-01-27 20:10] k-rzr opened #94 "SKR 1.1 pro disconnecting and freezes short after turning on"
Hello everyone I have some strange issue with my skr 1.1 pro - when I turn on printer everything works fine (sending commands through usb, moving motors etc.) for like 30 seconds to 1 minute, after that it freezes and doesn't respond to anything (touchscreen turns off), neither through usb connection nor using any of the buttons on the printer, lights on the board are on. It happens no matter if i

[2020-01-28 09:35] oldman4U commented on #94
Hi k-rzr.

Have you tried to disconnect the USB cable to see if this makes a difference?

[2020-01-28 09:43] oldman4U commented on #94
Hit Comment and the same time another question came up.

Are you using Dual-Z or 2 Extruders?

[2020-01-28 09:50] k-rzr commented on #94
I'm using dual Z.
I think I tried yesterday running it with disconnected usb cable but I'm not sure. I'll check it out when I get home.

[2020-01-28 10:12] oldman4U commented on #94
In case you are using dual-z like me, you can remove the last stepper driver because the Pro provides built-in dual-Z. So you have connector X and Y, each with its own dedicated stepper driver . Then you have 2 (Z) connectors sharing the third stepper driver and another stepper driver for the Extruder. In Marlin you configure a single Z stepper and also all the other dual-Z settings and options ca

[2020-01-28 17:06] k-rzr commented on #94
Ok so I checked, it happens even with the unplugged USB cable - the printer after turning on works normally for about 30 seconds, then restarts and about 5 seconds later LCD turns off, LEDs on board are still on and you can't do anything. After turning power off and on printer still does not respond, after some time with no power on it returns to the initial state when it works for a half of a min

[2020-01-28 17:42] k-rzr commented on #94
Seems like I found the cause - it was my self-made step motor direction reverser that consists of a extension cable and angle 4pin socket XD which is strange because it caused no problems with the standard anet a6 mainboard, right now skr board runs for a few minutes without any issues so far so I'm closing issue

![IMG_20200128_183429](https://user-images.githubusercontent.com/60364196/73289681-6

[2020-01-28 17:42] #94 closed

[2020-01-29 09:35] blanosko opened #95 "35V on motor inputs?"
Hi, I hope this is the right place to question this. Is it possible to connect say 35V on motor inputs on this board? In manual it says 12V/24V, but I know that it can be just badly written by manufacturer. So is here anyone who tried this and can confirm my assumption that it can?

Thanks

[2020-01-29 19:14] turnali commented on #57
I was able to stop the heating by itself problem but this time the bed doesnt heat at all :))).  Everything works fine on the board; output connections, current, leds....  I connected the no 1 output of the SSR and other bed wire together to L or N on the power supply and it stopped the heating but...
Before, the connection was like the diagram below.
Still couldnt fixed this stupid problem

![bed

[2020-01-30 11:15] GadgetAngel commented on #57
@turnali Here is how I would hook up your situation: see image below.  What I see are two problems. You do not have Neutral hooked up to the SSR AC side.  Also You do not need to hook to the BED POWER terminals.  The whole point of using an SSR is to power the AC Silicon Heatbed from the wall AC. The connection to the SKR Pro is just to control the SSR switch side. The SSR switch side will allow A

[2020-01-30 12:39] GadgetAngel commented on #57
Here is how I would hook up your situation: see image below. What I see are two problems. You do not have Ground hooked up to the SSR AC side. Also You do not need to hook to the BED POWER terminals. The whole point of using an SSR is to power the AC Silicon Heatbed from the wall AC. The connection to the SKR Pro is just to control the SSR switch side. The SSR switch side will allow AC Voltage and

[2020-01-30 12:43] GadgetAngel commented on #57
@turnali Here is how I would hook up your situation: see image below. What I see are two problems. You do not have Ground hooked up to the SSR AC side. Also You do not need to hook to the BED POWER terminals. The whole point of using an SSR is to power the AC Silicon Heatbed from the wall AC. The connection to the SKR Pro is just to control the SSR switch side. The SSR switch side will allow AC Vo

[2020-01-30 13:35] oldman4U commented on #92
As far as i know, it is not possible to use the USB, the TFT AND the WIFI at the same time on the board, because only 2 serials can be defined.

-1 is for USB/CDC
1 is for TFT
6 is for ESP-01S

In any case, i would recommend to remove hardware (WIFI) and make a stripped down firmware until the most important parts are working properly. After that, i would add functions based on priority.

Hope thi

[2020-01-30 13:41] oldman4U commented on #58
Hi spattinson.

I started this ticket because the A4988 does not work on my board, but i am happy to hear that you do not have this issue. Jumpers are configured according to the manuals, of course.

[2020-01-30 18:02] spattinson commented on #58
Hi @oldman4U My jumpers are the same as your picture a few replies up. My config attached if its any use
[config.zip](https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/files/4135459/config.zip)
for completeness this is from pins_BTT_SKR_PRO_V1_1.h I can't think what must be wrong with your setup. Have you checked fuse F2 15A (blue)?
[code]

[2020-01-30 18:39] rflulling commented on #58
Why are you looking to change the pin map?

My assumption, the issue is in handling. As a result something is burned or
broke. I sent the configurations I use.

Maybe each of you put together a folder in the same format as I assembled.
Zip it and post it fir me. I will compare to my own.

Note, I am now on Marlin 2.0.0 official.
I rebuild my configuration files new with every update.
My build fold

[2020-01-30 18:59] turnali commented on #57
The green ground wire output connection you draw from the ssr is a mounting screw hole. Its the same as the one below. Its not a output hole. There are only 4 outputs on the ssr. Numbers 1,2,3 and 4. Number 1 goes from the ssr to the power supply L or N. Number 2 comes from the silicon heat bed and the other part of that wire goes to the power supply as well to L or N. Numbers 3 and 4 are Positive

[2020-01-30 19:06] turnali commented on #57
But power connections you mentioned, i will try them

[2020-01-30 19:16] turnali commented on #57
The green ground wire output connection you draw from the ssr is a mounting screw hole. Its the same as the one below. Its not a output hole. There are only 4 outputs on the ssr. Numbers 1,2,3 and 4. Number 1 goes from the ssr to the power supply L or N. Number 2 comes from the silicon heat bed and the other part of that wire goes to the power supply as well to L or N. Numbers 3 and 4 are Positive

[2020-01-30 20:09] BastR commented on #95
The only thing that limits the voltage of the motors between the screw connector and the driver pins are the capacitors. They are 35V rated but it's better to leave a safety margin and apply a lower voltage, the information I found on the internet says that you have to leave a 30% margin, that is to say apply a voltage of 24V maximum.

So, you can apply any voltage you want until you leave a suffi

[2020-01-30 20:19] BastR commented on #89
According to the documentation PC8 / PC9 / PE5 / PE6 are PWM capable but PC8 / PE5 / PE6 are already used for the 3 fans AND are 12V. You still have PC9 which is 5V AND on the extension port 1.

<img width="1475" alt="Capture d’écran 2020-01-30 à 21 14 21" src="https://user-images.githubusercontent.com/20129420/73486764-0bcf7980-43a6-11ea-9330-7b945f776cc1.png">

![68497307-8c258900-0254-11ea-8edb

[2020-01-30 20:30] BastR commented on #91
<img width="1493" alt="Capture d’écran 2020-01-30 à 21 20 39" src="https://user-images.githubusercontent.com/20129420/73487399-30782100-43a7-11ea-9e4f-24bc4c496607.png">

I think you can use T2 or T3 connector to wire your thermistor.

Then you need to specify what kind of thermistor you're using, like `#define TEMP_SENSOR_CHAMBER 1` if you're using _100k thermistor - best choice for EPCOS 100k (4

[2020-01-30 22:32] AnHardt commented on #89
All that pins have 3.3V - not 5V. There are no 5V pins on this board. You could use all these pins with a level shifter to 5V, or the 12/24V MOSFET pins with a voltage divider.

[2020-01-31 03:26] GadgetAngel commented on #57
The back part of the SSR should be a grounding plate. So if the connection on the other side is a Hole use that one. Just because the connection on the side of the AC is an open hole does not mean you should not connect up the ground. Connecting up ground is a safety precaution. If you do not connect ground you do it at your own risk. The SSR will still work with or without ground hooked up. Good

[2020-01-31 06:24] blanosko commented on #95
Really thanks for answer. I think I figured out schematics so I can support your answer.

Here is schematics of main connector on board. There is clearly visible that motor power is connected directly to VMOTO (VM) pin of stepper drivers.
![conenctor](https://user-images.githubusercontent.com/26611576/73516556-1830f200-43f9-11ea-84f5-26b0265e5689.PNG)

And here is schematics of actual stepper driv

[2020-01-31 15:39] GiovaneMunhoz opened #96 "Sensorless homing + Skr Pro 1.1 + TMC5160 + Marlin 2.0 = is that possible ?"
Hello guys, i'm trying to setup a sensorless homing on tmc5160 v1.2 (spi) and skr pro, using Marlin 2.0, but I did every single sh*** that I found on google, but the endstops dont trigger, Im about to give you, becouse there's is nothing that I didnt do.

But, if someone has figured out how to make it work, I Will be very happy to know how.

My marlin files: https://drive.google.com/open?id=1FXjLB

[2020-01-31 21:10] turnali commented on #57
i tried that but the board didnt heat up the bed

[2020-02-01 00:34] dch1921 commented on #57
You still need to hook up the bed power or you will not power the SSR control. Review the schematic and it will make sense

[2020-02-01 00:44] GadgetAngel commented on #57
You mean you still have to connect up the input Bed power??? So all the power connection have to be made?? I will look at the schematic tomorrow to see what you are saying

[2020-02-01 00:52] GadgetAngel commented on #57
@turnali Do you have a 12VDC bed to hook up to the SKR pro just to see if the board can heat a 12V bed. Maybe you have a bad SKR pro board or a bad  SSR

[2020-02-01 02:31] GadgetAngel commented on #96
@GiovaneMunhoz If you setup Sensorless Homing on all your axis, then by definition of Sensorless homing you will not need to trigger your ENDSTOPs. When you do a M119 all your endstops should show OPEN, that’s assuming you defined Sensorless Homing on X, Y and Z. I hope this helps

[2020-02-01 04:26] GiovaneMunhoz commented on #96
@GadgetAngel of course my endstop will not trigger, couse' Im using sensorless homing! But when I home any axis, the stallguard dont stop the axis when hit the corner, my machine keeps pushing the axis through the corner even when gets stuck.
So sensorless homing dont work, it dont sense when is on end of course.

[2020-02-01 04:29] Mariu86 commented on #96
You must change the sensitivity for sensorless homing!

[2020-02-01 04:32] GiovaneMunhoz commented on #96
@Mariu86 I've tried every single sensitivity number possible. From -64 to 64, that is the range that I've found of tmc5160, tell me if im wrong.

[2020-02-01 09:21] turnali commented on #57
The board works with a 12V bed i checked that. I also tried the ssr and the bed with a SKR v1.3 board and they work fine as well. Tried another SSR on Pro board but same problem again.
I think its the Pro boards unique bed powering inputs with the SSR is causing the problem. Seperation of the Bed Power and Hot Bed connections on the board might be it. its not working with the SSR.
I even thought i

[2020-02-01 10:20] GadgetAngel commented on #57
Did you send a message to BIGTREETECH support via their Facebook page? Please post their response back here because I am planning on powering my bed with AC power and SSR too. I am still testing out my SKR Pro and I am still waiting for parts to test out the SSR configuration. I am testing out the Driver hookup on my board now. I hope BIGTREETECH helps.

[2020-02-01 10:26] GadgetAngel commented on #96
@GiovaneMunhoz Can you post a link to your Marlin files?? Like put the whole Marlin folder on Google Drive and share it to the public by supplying us with the link to the top Marlin folder. If you do that I could look at your configuration of Marlin and see if something is off.

[2020-02-01 10:33] GadgetAngel commented on #95
@BastR, @blanosko  Have you connected an SSR up to the SKR pro board to power an AC bed?? I am having a hard time seeing how to do an SSR with the Bed power being separate, any suggestions on this subject would be helpful

[2020-02-01 10:43] turnali commented on #57
I contact BigTree via their Aliexpress store. They respond faster from there.
If they give me a solution for my problem, I will definitely post it here

[2020-02-01 11:00] Necropaw opened #97 "Can not compile Marlin 2.0.3 with TMC 2209 for SKR PRO v1.1"
As the TMC Stepper driver from https://github.com/bigtreetech/TMCStepper are outdated it is not possible to use the current Marlin version.

### Current behavior
When building with in `platform.ini`:
[code]

The following error is produced:
[code]

### Expected behavior
It is possible to use BTT TMC Stepper 2209 with Marlin >= 2.0.2

[2020-02-01 11:25] GadgetAngel commented on #57
@turnali Did you wire the CLK pin to GND pin on your TMC5160 driver boards?? Here is a .pdf that shows the driver configuration for the SKR Pro board https://doc-0k-c4-docs.googleusercontent.com/docs/securesc/seim4417k8n16rvc6rl28ib17otc3iek/3ohsos0r5999avqtuin34rmgbvo6bq7t/1580551200000/06483777329211841429/05169398407596378373/1CR7NcZsWs012gB1fWaCSrZSwWh_6bvzq?e=download&nonce=atcujea3apa26&user

[2020-02-01 11:32] GadgetAngel commented on #97
@Necropaw Try compiling Marlin 2.0.2 using the default Platformio.ini. I mean do not change the compile directive for the TMC stepper library. BIGTREETECH stepper motor library is out of date.  Use : `lib_deps =
  LiquidCrystal
  TMCStepper@>=0.6.1,<1.0.0
  Adafruit NeoPixel’

[2020-02-01 11:36] turnali commented on #57
I am using TMC2209 V3.0 drivers and your link doesnt open

[2020-02-01 11:43] GadgetAngel commented on #96
@GiovaneMunhoz Did you connect CLK pin on the TMC5160 to the GND pin on the TMC5160 before pugging them into the SKR PRO V1.1 board?? Here is a file that shows All the Stepper Motor Driver configuration for the SKR PRO board. It was created by @rflulling. Here it is: https://doc-0k-c4-docs.googleusercontent.com/docs/securesc/seim4417k8n16rvc6rl28ib17otc3iek/3ohsos0r5999avqtuin34rmgbvo6bq7t/1580551

[2020-02-01 11:48] Necropaw commented on #97
@GadgetAngel this worked.

The documentation in https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/blob/master/firmware/Readme.md is outdated.

[2020-02-01 13:19] GadgetAngel commented on #57
Sorry about that, trying to help. Two people at once. Please ignore my last comment it only applies to TMC5160 drivers. Funny I tested the link and it works for me. If you want the driver configuration for SKR PRO board try this one: https://drive.google.com/file/d/1AK4_RM3cvM4ar4Fx1Kf7UHncVgKvZTg5/view?usp=drivesdk

[2020-02-01 13:31] GadgetAngel commented on #97
Yes I agree. BIGTREETECH needs to update their online documentation because it is causing confusion with their users

[2020-02-01 13:33] turnali commented on #57
Thanks a lot, but the other board(skr v1.3) that i tried the ssr and the silicone bed also have the same drivers(TMC2209 V3.0). So its not the drivers.
I am just gonna wait an answer from BigTree for now.
Thanks for your help

[2020-02-01 13:44] GiovaneMunhoz commented on #96
@GadgetAngel I didnt solder CLK pin to GND, on my research I found that is not needed on BTT TMC5160 v1.2, even on v1.2 I still have to do this?

[2020-02-01 14:05] GiovaneMunhoz commented on #96
@GadgetAngel  Check my marlin files: https://drive.google.com/open?id=1FXjLBxjaVRBTd6YxUVsU0fO5yQepG6gC

[2020-02-01 14:16] GiovaneMunhoz commented on #92
@Shamoon78  The problem for me was wrong number on serial port, this is my configs and it works for me, even with esp-01.

Configuration.h
#define SERIAL_PORT 6
#define SERIAL_PORT_2 1

[2020-02-01 14:24] DroneMang commented on #57
I'm not sure if this was answered above for you guys but there needs to be
12-volt or 24-volt power from your power supply going to each of the three
input power ports on the board. As in you need to have power going to the
motor power the board power and the bed power. Otherwise I think you're
wiring diagram looks fine and you already mentioned switching the plus and
minus going to the SSR. I apo

[2020-02-01 14:50] GadgetAngel commented on #58
@rflulling Your document on Driver Configuration found here:  https://drive.google.com/file/d/1AK4_RM3cvM4ar4Fx1Kf7UHncVgKvZTg5/view?usp=drivesdk
I have a question, can you add text explaining your designations for TMCxxxx in UART mode?? What does E mean in Vref pin? What does R mean in the Diag pin? What does the S mean in the CLK pin? I think I understand the D on the two jumpers means to connec

[2020-02-01 15:08] GadgetAngel commented on #96
Check with. Multi-Meter to see if the CLK is going to ground. I see conflicting info on weather this fix has been implemented. So depending on when you bought your TMC5160, it could or not be fixed. Again CLK pin on the TMC5160 needs to be going to GND. Just check the CLK pin to ensure this is happening.

[2020-02-01 15:24] GiovaneMunhoz commented on #96
@GadgetAngel Thanks for the tips, I will check.

What about my marlin configs, is everything ok?

[2020-02-01 15:35] turnali commented on #57
On the diagram i draw, i only draw my bed connections. All my other necessary connections are already connected just not drawn on the diagram.
I would appreciate if you post your connection config file just to compare it with mine.
On you 110v bed, do you use a SSR? if yes,
How did you make the connection to your board and power suplly?
Is there any difference compare to mine?

[2020-02-01 15:38] turnali commented on #57
On the diagram i only draw my bed connections. All my other necessary connections are already connected just not drawn.
I would appreciate if you post your connection config file just to compare it with mine.
On your 110v bed, do you use a SSR? if yes,
How did you make the connection to your board and power supply?
Is there any difference compare to mine?

[2020-02-01 16:34] BastR commented on #95
@GadgetAngel Yes, I have an SSR connected like that:

<img width="1420" alt="Capture d’écran 2020-02-01 à 17 14 36" src="https://user-images.githubusercontent.com/20129420/73595372-2b86af00-4518-11ea-990e-cb522062fe55.png">

I had to reverse the positive and negative in the SSR input to make it work. It's "normal", I saw an issues that talked about it on that GitHub.

[2020-02-01 18:05] GiovaneMunhoz commented on #96
I did What you said using multi-meter, and all my tmc5160 v1.2 have CLK and GND conected. I used the continuity test to check.

[2020-02-01 18:29] GiovaneMunhoz commented on #96
@GadgetAngel One question, the only wiring I have to do, is solder the diag pin on stepper driver and plug it on the board, right?

[2020-02-01 19:10] GiovaneMunhoz commented on #96
Thanks everyone who try to help, Reading about stallguard I saw that stallguard Will only work when stealthchop is disabled and in my case mas enabled, know sensorless homing is working.
Marlin site:
"StallGuard is only active when the driver is in spreadCycle mode."

So I had to disable stealthchop and marlin Will auto switch to spreadcycle and sensorless Will work. Using tmc5160 v1.2 I set sensi

[2020-02-01 19:11] #96 closed

[2020-02-01 21:08] drmulligan commented on #95
If I read your schematic correctly, you can just desolder pin 16 on your driver, flip it so it sticks up and does not make contact with the SKR board.  Also solder a pin which goes up through the driver to GND on pin 15 so it connects to both the SKR board and up.  Then wire your cap and >24v power supply to a two pin female connector and plug it in to the top of the driver.  Make sure your >24v p

[2020-02-01 23:12] GadgetAngel commented on #58
@oldman4U I want to report that I attached all A4988 to my SKR PRO V1.1 and they work for me.

[2020-02-02 02:16] GadgetAngel commented on #96
I will look at it tomorrow, I have been testing my stepper drivers on the SKR PRO V1.1 board today. I have A4988, DRV8825, LV8729, TMC2100, TMC2130, TMC2208,TMC2209,TMC5160. I only got the A4988 and DRV8825 today. But I will look at your conf files tomorrow. I have a copy of Marlin already done for my TMC5160. I just have not tested it yet.

[2020-02-02 02:18] GadgetAngel commented on #96
I was not aware of this either, thanks for letting me know

[2020-02-02 02:25] GadgetAngel commented on #57
I am right now in the process of checking out the SKR PRO V1.1 board. I am currently only checking the stepper drivers but I will be getting to setting up the SSR. I just want to make one change at a time, so if I run into a problem I will know where the issue is located. The diagram I sent was the way I am planning on making the connection.

[2020-02-02 02:27] GiovaneMunhoz commented on #96
Dont bother to check those files, I have changed. I Will up again my files with changes that make my print work, maybe help you or someone.

[2020-02-02 04:52] TheDark opened #98 "Can't use TMC2208 in UART mode - can missing UART resistors be the cause?"
As posted by @AnHardt in https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/issues/70#issuecomment-551315083

I have such an unpopulated board. Can the missing resistors be the cause for the TMC2208 drivers not to work, causing "Error: ALL LOW"? Can I just add the resistors to make it work?

The 2208s work perfectly well on a SKR 1.3. Using latest Marlin bugfix 2.0.

![WIN_20200202_03_28_27_P

[2020-02-02 09:26] Mariu86 commented on #97
@Necropaw You successfully compiled the 2.0.3 version of Marlin with tmc2209?

[2020-02-02 10:02] GadgetAngel commented on #97
I think @Necropaw did get it to compile BUT leave the ticket OPEN because others need to be aware that the documentation (https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/blob/master/firmware/Readme.md) is WRONG by telling the user to change the Platformio.ini.
The user should use the default Platformio.ini file and just change the following item `default_envs = BIGTREE_SKR_PRO`. This ticke

[2020-02-03 08:45] blanosko commented on #95
Yeah, you can just do that. But this board specificaly has 3 independent input rails. So it would be great to make them useful and without wires all over the board.

But yeah, if your board doesnt have this feature (most boards dont) you can do that.

[2020-02-03 08:58] blanosko commented on #98
You can take a look on schematic and figure out if there should be a resistor:

You can see that there should be 1K resistors. R70 is for X UART and R71 is for Y:
![Capture](https://user-images.githubusercontent.com/26611576/73638689-37cf5100-466b-11ea-95af-e4e14efa30c9.PNG)

Here are for Z, E0, E1, E2:
![Capture](https://user-images.githubusercontent.com/26611576/73638902-909ee980-466b-11ea-8ffe-

[2020-02-03 09:28] oldman4U commented on #58
Hi spattinson.

Could you please verify, that you have the same A4988s i have?
![72224537-e2c48180-357b-11ea-8480-d02fe70a86bd](https://user-images.githubusercontent.com/54359396/73640755-238d5300-466f-11ea-8d5b-e6f62bd6a6d2.JPG)

I will check the config file asap, thank you.

@rflulling I used two different SKR v1.1, 3 different types of stepper motors and have 6 A4988 stepper motor drivers to te

[2020-02-03 09:57] spattinson commented on #58
Mine are red but pcb is same

[2020-02-03 20:22] tphan26363 commented on #16
I don't believe  that is the right chip.  defined here is STM32F407ZG
#
# BIGTREE_SKR_PRO (STM32F407ZGT6 ARM Cortex-M4)
#
[env:BIGTREE_SKR_PRO]
platform = ststm32@5.4.3
framework = arduino
board = BigTree_SKR_Pro
extra_scripts = pre:buildroot/share/PlatformIO/scripts/generic_create_variant.py
build_flags = ${common.build_flags}
  -DUSBCON -DUSBD_USE_CDC -DUSBD_VID=0x0483 -DUSB_PRODUCT=\"STM32F407Z

[2020-02-04 05:29] rflulling commented on #58
Some extra junk for this forum started pouring in over the weekend and I created a filter. Ended up loosing these messages they came in...

So to address the question about the A4988.
They are all identical chipwise.
However, if you read up on it you will see that more than one savy user has discovered that the Genuine drivers and the knock offs are slightly different. Most cases this ONLY effect

[2020-02-04 05:34] rflulling commented on #58
@GadgetAngel

The notes are laid out per vendor specification. That is I each page the upper left is a key. Each following is a vendor specified configuration. I don't know what all of them mean. In some cases where I was able to find out and they seemed weird, I added info if I could find it.

For the most part you will line up the Ground pins and the VREF and the rest are along for the ride rega

[2020-02-04 07:06] GadgetAngel commented on #58
@oldman4U Sure, here are the A4988 drivers I have. They were bought off of Amazon this week from BIQU or BIGTREETECH. Here is the Amazon link: https://www.amazon.com/dp/B01FFGAKK8/ref=cm_sw_r_cp_api_i_j5qoEb298H0TM

Here is the pictures of the A4988, I own.
![44E011EB-2F7E-454F-AD0D-3A5A2895D62D](https://user-images.githubusercontent.com/33468777/73719698-33984780-46ee-11ea-95cc-c6159ec92dca.jpeg)

[2020-02-04 07:20] GadgetAngel commented on #58
@rflulling As soon as I am done testing my drivers. I will be updating your manual. But I have made a lot of changes. I am adding actual pictures for each jumper setting for all the Drivers. I am adding the drivers I own and testing the configuration out on the SKR PRO board. I am adding a text box with Additional info about each driver (how to calculate I-MAX and calculate V-REF). I am doubling c

[2020-02-04 07:47] GadgetAngel commented on #98
@TheDark and @blanosko Here is a picture of my newly bought SKR PRO V1.1 board, which DOES NOT have the R70, R71, R61, R65, R67, or R69 solder on the board. So without those resistors in place how can UART mode be working?  I connected up my TMC2209 V1.2 to the SKR PRO board and I can turn my stepper motors with TMC2209 in UART mode. How can this work if they are truly NOT connected?? I am missing

[2020-02-04 08:18] blanosko commented on #98
@GadgetAngel Your motors are working because UART have nothing to do with that. Drivers are controlled through EN, STEP/DIR pins.

UART on these drivers is used to **configure** them (How much current going to motors, Stealthchop treshold, monitoring temperatures. etc).

So we can elaborate:
I have MKS Gen 1.4 board. If I want to use TMC2208 drivers (blk.me branded) I have tu use Y splitter with 1

[2020-02-04 08:36] theopensourcerer commented on #98
@blanosko

Not sure if this is relevant or not, but when using Klipper firmware on my MKS Gen 1.4 you only need a single wire and no resistor to both read from and write to the 2208.

[2020-02-04 09:12] blanosko commented on #98
@theopensourcerer
I was searching for some info about this and aparently it is possible with one wire without resistors. But Iam not sure when it can work and when not. So it would be great if someone with greater knowledge can sort this for once and for all.

[2020-02-04 09:16] theopensourcerer commented on #98
@blanosko I know it works - I've been using it for nearly a year with no issues.

I recently bought this SKR Pro V1.1 board and am going to use some 2130s I have in SPI. I've been testing it on my bench and I can talk to them OK. Again I am using Klipper f/w.

[2020-02-04 09:17] theopensourcerer commented on #98
The point is I don't believe it's anything to do with hardware. If Klipper can do it on any random MCU board then so should Marlin presumably.

[2020-02-04 09:24] GadgetAngel commented on #98
Ok, so if I understand this correctly. I can not configure my TMC2209 to run at different Microsteps or switch between Stealthchop and Spreadcycle on the file because the TX pins are not connected?  Has anyone tested this out?  What mode are my Drivers running in? When I did a M122 command during my test, all reagister coming back from the TMC2209 looked OK, and my setup for the driver was what I

[2020-02-04 09:29] blanosko commented on #98
If you can see output of M122 then connection is OK. You can test if you can change say motor current, save it, reboot board and then try M122 and check if the settings are the new one.

Refer to what @theopensourcerer said. (One wire UART)

[2020-02-04 09:29] theopensourcerer commented on #98
@GadgetAngel The 2208/9 are supported by Klipper firmware on the SKR Pro. They only need one pin defined for the UART:

https://github.com/KevinOConnor/klipper/blob/master/config/generic-bigtreetech-skr-pro.cfg#L106

[2020-02-04 09:50] oldman4U commented on #58
@rflulling

I am not sure if the information about the POT is related to me. If so, i got the 4988s at app 600mv and i tested them from the lowest (approximately 400) to the max (approximately 750) in 50mv steps. The same cables and motors are used successfully with 580 and 650mv on an Ender 3 with SKR E3 DIP mainboard and 2208 drivers as well as another SKR Pro v1.1 with 2209 drivers and the same

[2020-02-04 16:03] knockoutperformance commented on #92
got it working with this and using the fork multispi for marlin bugfix:
Configuration.h
#define SERIAL_PORT 1 // tft
#define SERIAL_PORT_2 6 // esp3d
#define BAUDRATE 250000 // both esp3d and tftv3

[2020-02-04 20:13] AnyM2k commented on #72
Have st-link V2 on table. At last.
Any idea how to connect it to SKR-Pro-v1.1 ?
Soldering to legs ?  Any other ways ?
Thank you.

[2020-02-04 20:32] AnyM2k commented on #72
Have some one step by step howto ?
Too many pins , to many errors may occur .

Thank you.

[2020-02-04 22:33] hudy85 opened #100 "TMC2209 v3 FYSETC working on skr 1.1 PRO ?"
Hi, it's been a week since I tried to configure these stepsticks.  First, no connection to tmc (you need to put a jumper under the driver), now when it connects, I can not set sensorless homing. What I would not do, it works when and how it wants, but usually ends with an error and restarting the printer. There is someone here who solved this problem?

[2020-02-05 15:47] GadgetAngel commented on #98
I found it in the Datasheets for the TMC2208/9:
"This mode (UART) allows replacing all control lines like ENN, DIAG, INDEX, MS1, MS2, and analog current setting VREF by a single interface line" https://www.trinamic.com/products/integrated-circuits/details/tmc2209-la/:
![TMC2208_09 UART MODE datasheet](https://user-images.githubusercontent.com/33468777/73857444-f377b880-4804-11ea-9797-2691730f23bb.

[2020-02-06 04:20] rflulling commented on #58
lol, It will be your manual. I created a simple guide using spreadsheets.
It's clean and clinical. But yes, no actual photos. It was an effort to
combine as much as I could find of the various drivers, and the differences
between the various vendors of the same drivers. Polo, and the multitude of
cheep Chinese knock offs.

If you want to make a manual. Do a good job, take your time. Give yourself

[2020-02-06 04:25] rflulling commented on #58
24V always. Sorry if I have not specified. 12V requires more current.

Some are already looking at 36 and 48V configurations. (But not for SKR
PRO.)

I saw this posted on the BTT SKR PRO group on facebook and thought of our
conversation here.
[image: image.png]

On Tue, Feb 4, 2020 at 3:50 AM oldman4U <notifications@github.com> wrote:

[2020-02-06 10:53] Mariu86 commented on #60
Hello @mooner1022  can you please tell me if you used the limit switch pins or the Bltouch pins ?

[2020-02-06 21:55] oldman4U commented on #58
No reason to be sorry. Because we have no idea what the problem is, we should also take more esoteric issues into account.

Anyway, i have ordered another A4988 with a red PCB. Maybe this makes the difference;-)

[2020-02-07 02:17] SolorEclipse opened #101 "Infill not sticking after board upgrade"
My infill isn't sticking after I upgraded to the skr pro v1.1 it's probably not the board it's probably something I've done any idea what could be causing this
![IMG_20200204_224739](https://user-images.githubusercontent.com/53887561/73995219-8d328900-491d-11ea-9878-f7f92f3ad75c.jpg)
![IMG_20200204_224745](https://user-images.githubusercontent.com/53887561/73995239-97548780-491d-11ea-851f-7117544a

[2020-02-07 03:34] mooner1022 commented on #60
I used limit swich pins and 12v output pin.

[2020-02-07 07:55] Mariu86 commented on #60
But the pin from the limit switch it's 5v tolerant I think, how do you put 12v in there? I have an induction sensor and tmc2209, but I can not get the sensor to work. if I put a mechanic switch and i desolder the diag pin form tmc2209 the mechanical switch it's working, but the induction sensor it's not working. Sorry for my bad English.

[2020-02-07 08:16] mooner1022 commented on #60
Your english is good bro :)
I plugged my sensor to 12v out pin and a npn transistor(in my case, 2n3904 worked.) to the limit switch pin. When the sensor on 12v triggers, it turns on the transistor and the board recognizes the triggered sensor. If you have something more to ask, feel free to ask any time :D

[2020-02-07 11:44] GadgetAngel commented on #58
@oldman4U I ordered green PCB A4988 driver boards and they should be arriving today. I will test them out and let you know if I have any problems with them. Just want to be sure that both work with the SKR pro board. @rflulling i appreciate that but your name is on the manual and you are listed as the first author. I have Adobe Acrobat DC license and can edit any PDF. So I am editing your manual.

[2020-02-07 12:27] GadgetAngel commented on #72
Can I use the STM32CubeProgrammer, USB ST LINK v2 on the SWD connector of SKR-PRO to burn a bootloader to the SKR PRO board so I can upload firmware to the board through the USB connection?

[2020-02-07 15:02] Nyxtegida commented on #72
I received mine with problems, at first it connected to serial but didn't respond to any commands through pronterface. Nor did any difference after trying another firmware in the sd card. Later it didn't even show as a serial but did a read with the st-link. I tried flashing the bootloader from stm32cubeProgrammer, it shown download complete, but didn't confirm the write. After that, reading the m

[2020-02-07 15:16] spattinson commented on #98
The pins file for the SKR Pro defines the following for UART:
[code]
Clearly the same pin is used for TX and RX so is this an issue or not?
If I "grep X_SERIAL_ *" in the pins/stm32 to see if other vendors have the same setup:
[code]
We can see it is only BTT boards that have this feature on the stm32 platform, other vendors use different pins for tx and rx.

[2020-02-07 16:33] Mariu86 commented on #60
@mooner1022 sorry but I don't have so much experience with npn transistors , can you be more explicit how do you do it please! From what pin do you take the 12v? And do you connect the signal pin to the PG8 pin? What settings do yo do In Marlin ? My old board is a MKS gen L 1.0 and the sensor was connected to the z- limit switch and I checked the pin configuration and I have the same configuration

[2020-02-08 10:09] DJDOUBLEG opened #102 "Boot loader source code"
Dear BTT!

Can you share 2nd Bootloader source code (FW update from SD)?

Thank You!

[2020-02-08 12:16] GadgetAngel commented on #98
@TheDark Which TMC2208 driver board are you trying to get to work? Can you post a picture of the driver boards’ top and bottom view?  Is it from FYSECT or BIQU?

[2020-02-08 20:46] AnyM2k commented on #72
It alive.
Thank you holgin for fw_stlink file. Connect USB ST LINK v2 to SWD connector of SKR-PRO , ignore reset pin. I use STM32 ST-LINK utility. Open fw , write.
Thank you.

[2020-02-08 20:46] #72 closed

[2020-02-09 02:25] GadgetAngel commented on #58
@rflulling Here is a link to the manual: https://drive.google.com/open?id=1AQ9loH8QoqeO-hCVQ90UwKXFT7Eu3tHw

I would value your input!! Please, Please take a look at it when you get a chance

Here are four
[Pages from SKR PRO V1.1 Stepper Driver Jumper Configuration-51 thru 54.pdf](https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/files/4176403/Pages.from.SKR.PRO.V1.1.Stepper.Driver.Jumper.C

[2020-02-09 02:54] GadgetAngel commented on #98
@TheDark post a picture of BIQU TMC2130 from the bottom and top, please

[2020-02-09 06:08] rflulling commented on #58
Nice job. Feels like there is a lot of polishing to do. But that's way more
info than I was trying to put together and that will be certainly useful.

One thing you might find a way to add, by way of polish and image size
reduction. Add an image of the driver and note the test points. You did
this for some where soldering was required. But not for others were
Resistors may need to be switched, or

[2020-02-09 06:13] mooner1022 commented on #60
@Mariu86 Sorry for the late reply, my alarm for github didn't work. I'll show you my board settings when I go home. I think I'll be able to show you in 2~3 hours.

[2020-02-09 08:09] mooner1022 commented on #60
![3D printer sensor_bb](https://user-images.githubusercontent.com/27011657/74098671-264fe280-4b5e-11ea-89cf-90fdd4ed58f7.png)

This is the  schematic of my circuit. (Sry for the bad visibility of the circuit. I'm not good at drawing things D:) I didn't change any firmware things, just attatched this circuit to the board and sensor. I don't know if I'm explaining it well, so ask me if you have some

[2020-02-09 11:57] GadgetAngel commented on #58
@rflulling “Test points??”  Do you mean the Vref test points?  I always use the Trim POT. I will add other pictures for that info. But I am not familiar with some of the non-TMC boards that you supplied info on. I will go back and look at all the reference material. Did you find the reference materials in the document from my google drive??Click on any title of the current page and it takes you to

[2020-02-09 12:33] GadgetAngel commented on #58
@rflulling I lack the knowledge on changing out resistors for Non-TMC driver boards. Can you send me a reference of what you are talking about. I am still learning myself. If you could send me a write up about this topic I could learn from it and then add the additional information to the document.

[2020-02-09 12:59] GadgetAngel commented on #60
@mooner1022 Here is a nice write up. Just change the resistor across the sense pin for 3.3 V logic instead of 5V logic. https://mertarauh.com/2017/01/18/dont-trust-the-internet-and-how-to-add-an-inductive-proximity-sensor-to-your-3d-printer-the-proper-and-easiest-way/

[2020-02-09 13:07] GadgetAngel commented on #98
I am not familiar with THIS Chip. But from the picture I DO NOT see the UART Pin on the driver board. Can you send me a link to this driver board schematic?

[2020-02-09 14:54] theopensourcerer commented on #58
@GadgetAngel That is very helpful - much clearer than the original docs. One thing I noticed is that on page 4 there are three different settings for the DRV8825 but they all say for 1/32 stepping.

[2020-02-09 16:00] mooner1022 commented on #60
Thx for telling a way simpler way!

[2020-02-09 18:06] Mariu86 commented on #60
Thanks, for all the info I will measure the output signal of the sensor and I will see what's the voltage to see if it's to low . I have been trying to use the Bltouch pins but i don't have a complete success yet , the PA2 pin it's not trigger, I try different settings in the Marlin but maybe I do something wrong. Latter I tried to use the 5v pin and ground from the Bltouch pins and the signal pin

[2020-02-10 08:46] oldman4U commented on #58
Good morning.

@GadgetAngel ;-) Seems we both had the same idea. Have you got your greens in the meantime?

[2020-02-10 10:19] GadgetAngel commented on #60
@Mariu86 i am still testing my SKR PRO board and writing a manual on how to do the Stepper Diver Configurations for the SKR PRO (now over 70 pages long). I plan on putting a BLtouch and or a TH3D inductive sensor onto my printer but I have not got that far yet. When I do, if someone else has not posted the files, I will post mine here

[2020-02-10 10:24] GadgetAngel commented on #58
@oldman4U Yes, I got them yesterday. I will test them today as I am editing the manual. I need to do a Tune on the Driver boards which will give me an opportunity to document “How to Tune your stepper drivers” for the manual.

[2020-02-10 10:42] oldman4U commented on #58
Sounds great!! Please let me know then.

GadgetAngel <notifications@github.com> schrieb am Mo. 10. Feb. 2020 um
11:24:

[2020-02-10 11:00] Mariu86 commented on #60
I tested the inductiv sensor but I don't have any success on the PA2 pin ! I tried every setting in the marlin but I don know what's the problem, I'm not a expert but I don't understand whats the problem, if anybody has a config file using the PA2 pin for probing will be very useful for me ! Thanks

[2020-02-10 12:01] mooner1022 commented on #60
[Marlin.zip](https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/files/4180640/Marlin.zip)
Here's my configuration.h and adv.

[2020-02-10 17:29] GadgetAngel commented on #58
@rflulling and @oldman4U Here is my version of the manual. I will give you 2 days to look it over and tell me what comments or error you find.  Here is the link to Version 2: https://drive.google.com/open?id=1xelWUdyaV3gLIs0w0oXhZqkw86AsOGsw

@oldman4U I will take a break for an hour and then look at my Green PCB A4988 board and put them in the SKR Pro to see if they work.

[2020-02-10 17:32] cobrettee commented on #58
I gave up on the 4988's but just wanted to say what an awesome community. Thanks for all the effort you guys have put into this!

[2020-02-10 18:39] fiveofds opened #103 "Sensor-less homing/probing not working SKR_PRO_V1.1 with TMC2209"
Sensor-less homing/probing not working SKR_PRO_V1.1 with TMC2209 I am unable to get the sensorless homing or probing working. I have good movement on all steppers and heating. Please advise.  I am using the MarlinBugFix 2,0,x dated 2/09/2020

I would post my Configuration.h and Configuration.adv.h but I don't see how to.

[2020-02-10 18:48] fiveofds commented on #103
I would post my Configuration.h and Configuration.adv.h but I don't see how to.

[2020-02-10 19:48] GadgetAngel commented on #58
@oldman4U I but in the GREEN PCB A4988 and they all work. Here is a link to a video showing my test setup and them working.  https://drive.google.com/open?id=1EMi_Uzr53xI48oNvOIsoBAigvVWv4h5_

Where did you buy your A4988 boards.  Are you sure they are not blown?

[2020-02-10 19:53] fiveofds commented on #103
* Marlin 3D Printer Firmware
 * Copyright (c) 2019 MarlinFirmware [https://github.com/MarlinFirmware/Marlin]
 *
 * Based on Sprinter and grbl.
 * Copyright (c) 2011 Camiel Gubbels / Erik van der Zalm
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of

[2020-02-10 19:54] fiveofds commented on #103
* Marlin 3D Printer Firmware
 * Copyright (c) 2019 MarlinFirmware [https://github.com/MarlinFirmware/Marlin]
 *
 * Based on Sprinter and grbl.
 * Copyright (c) 2011 Camiel Gubbels / Erik van der Zalm
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of

[2020-02-11 01:50] GadgetAngel commented on #58
@rflulling This previous link for the manual no longer works because I have updated it again.  There was no need to but information about adjusting the Vref on pages where the Firmware does the Current adjustment for the stepper motors (i.e. UART mode and SPI modes).  Here is the link for the latest manual V2.1: https://drive.google.com/open?id=1fFp8SoRYP_aYgB0gjjwDfP4YBvCjrL69

[2020-02-11 02:29] Nyxtegida opened #104 "Did I just brick the mcu?"
I recently received my skr-pro-1.1 and from the start it wouldn't respond to pronterface commands.
The board was and still is empty, not even drivers attached.
I tried compiling a new firmware, write it on the sd card, and still nothing.
It was detected as a usb-serial device, connected at 250000 baud rate in pronterface, but failed to respond to any command.
After a few tries with different firmw

[2020-02-11 06:46] oldman4U commented on #58
Good morning

Unfortunately the movie can not be found.

I bought the A4988 together with the SKR Pro from BTT.

Would you be so kind to do some more test?

GadgetAngel <notifications@github.com> schrieb am Mo. 10. Feb. 2020 um
20:48:

[2020-02-11 07:57] oldman4U commented on #103
What happens exactly when you home the axis? "Not working" can mean many things.

[2020-02-11 08:09] oldman4U commented on #58
@GadgetAngel

78 pages, WOW;-) I could imagine, that this document will help a lot. 2 things i would eventually add.

An example - how to calculate the Vref - and maybe a little bit of general information about the difference between Stand Alone and UART/SPI mode.

So the question is also, how much MARLIN related information you would be willing to add to this document.

Thank you

[2020-02-11 08:38] theopensourcerer commented on #58
@GadgetAngel See page 9. There are three different settings of the DRV8825 jumpers and all say 1/32 steps?

[2020-02-11 08:48] theopensourcerer commented on #58
@oldman4U

Add an underscore to the end of the URL in your browser, e.g.:

https://drive.google.com/file/d/1EMi_Uzr53xI48oNvOIsoBAigvVWv4h5_/

[2020-02-11 12:00] GadgetAngel commented on #58
If you look at the table, I added a comment about the three 1/32 steps. On the DRV8825 there are 3 POSSIBLE WAYS to set 1/32 stepping. ALL three will work so pick one you like.

[2020-02-11 12:15] theopensourcerer commented on #58
@GadgetAngel Ahh - I see the note on page 6 now, thanks. That was easy to miss. I suspect many readers will just go straight to the pictures and set their jumpers accordingly ;-)

[2020-02-11 12:16] GadgetAngel commented on #58
In the Appendix, I will add an example of calculating the Vref so you know how to set the POT on a driver board. As far as Marlin goes... I could add another page to each driver section to cover the BASIC changes needed to make the motors turn. I could state that if you had A4988  as your previous setup and you were changing an Ender 3 which still used the factory stepper motors (then list the spe

[2020-02-11 12:17] GadgetAngel commented on #58
I will add a “Note” on the jumper page that states that fact to help make it clear.

[2020-02-11 12:27] GadgetAngel commented on #58
Sure, what kinda test do you have in mind?  I bought my green PCB A4988 from BTT so the only thing I can say is that you might have killed the boards due to Static discharge if you were NOT grounded via a grounding strap. I ALWAYS use an active Grounding strap when handling my electronics. Is it possible that all you boards are DEAD?  I could send you my green PCB A4988s. I only bought them to tes

[2020-02-11 13:01] GadgetAngel commented on #103
@fiveofds To post your files, just post a LINK to them on your free google drive.

Easy way: go to your computer find the folder that you use for Marlin. Right-click on the folder and Zip the folder. This will place all files in the Marlin folder into one Zip file. Now go to your web browser search for “google drive” Select “Google Drive” link from your search results. That link should now take yo

[2020-02-11 13:01] fiveofds commented on #103
If I send a M119 all the endstops report as open. When the end stop switches are pressed they still report as open. No matter what I do it stays open.When I home my printer it rises like I would expect it to do. When it reaches the top the steppers keep turning and make a grinding sound.I am using the latest Marlin-Bugfix-2.0.x Thank you MikeSent from my T-Mobile 4G LTE Device
-------- Original me

[2020-02-11 13:08] oldman4U commented on #103
@fiveofds What do you mean with "When the end stop switches are pressed"?

[2020-02-11 13:10] GadgetAngel commented on #103
@fiveofds The ENDSTOP will show OPEN since you are using Sensorless Homing. You need to tune the Sensorless homing so it works. Please watch this Video on YouTube done by Teaching Tech on TMC2209 https://youtu.be/dOJbSrWVu_Q

Here is his video section that address Sensorless homing on the TMC2209 https://youtu.be/dOJbSrWVu_Q

Even tho his video is about the SKR V1.3, all the setting for Sensorless

[2020-02-11 13:25] fiveofds commented on #103
The sensors for the end stops are triggered Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: oldman4U <notifications@github.com> Date: 2/11/20  8:08 AM  (GMT-05:00) To: "bigtreetech/BIGTREETECH-SKR-PRO-V1.1" <BIGTREETECH-SKR-PRO-V1.1@noreply.github.com> Cc: Mike Duncan <nacnudskim@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [bigtreetech/BIGTREETECH-SKR-

[2020-02-11 13:26] GadgetAngel commented on #104
@Nyxtegida see closed issue https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/issues/72

There is a firmware file to use with ST-Link that might get you back up and running. You will see a link to download the firmware file from one of the conversions. So please read all the post comments to find it

[2020-02-11 13:30] GadgetAngel commented on #103
@fiveofds The endstops MEAN nothing when using Sensorless homing! M119 will not show you the state of the endstops because you are NOT using ENDSTOP. You are setup for Sensorless Homing which uses the stepper motor driver to detect when you hit the beginning and ending of your axis travel

[2020-02-11 13:45] fiveofds commented on #103
Ok I get that, I set up sensorless homing in Marlin-Bugfix 2.0.x and it still does the same thing. Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: GadgetAngel <notifications@github.com> Date: 2/11/20  8:30 AM  (GMT-05:00) To: "bigtreetech/BIGTREETECH-SKR-PRO-V1.1" <BIGTREETECH-SKR-PRO-V1.1@noreply.github.com> Cc: Mike Duncan <nacnudskim@gmail.com>, Mention <mention@nore

[2020-02-11 13:52] fiveofds commented on #103
Ok I get that the sensors mean nothing. So then the problem is sensorless homing is not working. I have followed the instructions on YouTube and the sensorless homing is still not working. With the MKS PRO v1.1 do I need a jumper other than the one for UART mode? Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: GadgetAngel <notifications@github.com> Date: 2/11/20  8:30 A

[2020-02-11 14:44] GadgetAngel commented on #103
@fiveofds The way you describe the motor behavior is EXACTLY as it should be.  The motors will grind when they hit the end of travel for the axis. You have to set the adjustment sensitivities properly to get the motors NOT to grind.  So I do not understand the problem. You have setup sensorless homing in Marlin but the same values for each printer will be unique.

I looked at your Configuration_ad

[2020-02-11 15:07] fiveofds commented on #103
Thank you, my jumpers are correct, yes the HE3D is a Delta printer. I
understand that you are telling me that the sensorless settings are most
likely the problem. I just changed the HYBRID_THRESHOLD to 200 and am
compiling Marlin now.

Mike

On Tue, Feb 11, 2020, 9:44 AM GadgetAngel <notifications@github.com> wrote:

[2020-02-11 15:12] ivanlimwk commented on #91
Thank you for the help.
Sorry for the late respond. I have been busy lately. I'll give your instruction a go.

[2020-02-11 15:16] oldman4U commented on #103
GadgetAngel and oldman4U are the new support dream team,-)

@fiveofds I have a Marlin v2.0 firmware with sensor-less homing working fine in case you can not get it to work.

[2020-02-11 15:29] fiveofds commented on #103
I can not get it to work so far,
Can I send you a link to my configuration files to see if you can help me?
Mike

On Tue, Feb 11, 2020, 10:16 AM oldman4U <notifications@github.com> wrote:

[2020-02-11 15:33] GadgetAngel commented on #103
@fiveofds Yes, send the link, @oldman4U  will look at it. I will also

[2020-02-11 15:39] fiveofds commented on #103
https://drive.google.com/open?id=13CkPc5H97uPpQNddQdDU2EwGaLRzWRsu

On Tue, Feb 11, 2020 at 10:33 AM GadgetAngel <notifications@github.com>
wrote:

[2020-02-11 15:42] fiveofds commented on #103
I am thinking that I must be missing a setting somewhere for the sensorless
homing and probing. I so getting very frustrated

On Tue, Feb 11, 2020, 10:33 AM GadgetAngel <notifications@github.com> wrote:

[2020-02-11 16:05] Nyxtegida commented on #104
I already tried all the firmware, but the problem is that after flashing I get an error that it couldn't verify. Every firmware I tried, the memory banks red FFFFFFFF. As if it didn't write. Otherwise the chip was detected fine.

[2020-02-11 16:22] GadgetAngel commented on #103
@fiveofds who makes that printer? Does this printer have a default configuration file under Marlin?

[2020-02-11 16:29] fiveofds commented on #103
No there is no Marlin configuration I am it comes with a
different controller board, I switched it to the SKR PRO V1.1 because I
plaid to add the ability to use a second color later on.

Mike

On Tue, Feb 11, 2020 at 11:22 AM GadgetAngel <notifications@github.com>
wrote:

[2020-02-11 16:33] GadgetAngel commented on #103
@fiveofds When you flashed your Marlin firmware, did you go into the menu and have it restore failsafe. That printer my not allow the changes you made to take effect until you do a restore failsafe.

[2020-02-11 16:42] fiveofds commented on #103
Yes I didSent from my T-Mobile 4G LTE Device
-------- Original message --------From: GadgetAngel <notifications@github.com> Date: 2/11/20  11:33 AM  (GMT-05:00) To: "bigtreetech/BIGTREETECH-SKR-PRO-V1.1" <BIGTREETECH-SKR-PRO-V1.1@noreply.github.com> Cc: Mike Duncan <nacnudskim@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [bigtreetech/BIGTREETECH-SKR-PRO-V1.1] Sensor-less homing/pr

[2020-02-11 17:11] GadgetAngel commented on #103
@fiveofds try this:

    // TMC2209: 0...255. TMC2130: -64...63
    #define X_STALL_SENSITIVITY  50 // was set at 250 might be too high giving you a False positive
    #define X2_STALL_SENSITIVITY X_STALL_SENSITIVITY
    #define Y_STALL_SENSITIVITY  50  // was set at 250 might be too high giving you a False positive
    #define Z_STALL_SENSITIVITY  50  // was set at 250 might be too high giving yo

[2020-02-11 17:29] fiveofds commented on #103
Do I need to run a wire from the Diag pin on the 2209 to the SKR Pro v1.1 sensor pin for the end stop? Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: GadgetAngel <notifications@github.com> Date: 2/11/20  12:11 PM  (GMT-05:00) To: "bigtreetech/BIGTREETECH-SKR-PRO-V1.1" <BIGTREETECH-SKR-PRO-V1.1@noreply.github.com> Cc: Mike Duncan <nacnudskim@gmail.com>, Mention <mention

[2020-02-11 17:49] fiveofds commented on #103
That did not work

On Tue, Feb 11, 2020 at 12:29 PM nacnudskim <nacnudskim@gmail.com> wrote:

[2020-02-11 18:50] GadgetAngel commented on #103
@fiveofds Does you TMC2209 have a Diag pin going up or down on the driver board? if the Diag pin is going up, then yes you need to connect the Diag pin to the endstop. But if the Diag pin is going down then NO, the Diag pin is connected to the endstop for each Axis when the Diag pin is facing down. If you Diag pin is missing on the TMC2209 then you need to solder a pin in and place if facing down.

[2020-02-11 18:51] GadgetAngel commented on #103
@oldman4U i am running out of ideas can you help?

[2020-02-11 18:53] oldman4U commented on #103
Hello fiveofds

@GadgetAngel Help is on the way I hope!

@fiveofds First and maybe most important. In case you use this printer to make money - do not play around with it. If it is a hobby, don't let it frustrate you. See my long ticket related to A4988 motor drivers.... Its a hobby!;-))))

Using the SKR Pro with TMC 2209 v1.3 stepper drivers and Sensorless homing does not require any cabling on t

[2020-02-11 18:57] oldman4U commented on #103
Sorry I forgot to explain. Grindelwald is the code name of the printer I build based on the SKR Pro. Just in case you find the name in the firmware in some areas.

Everything is black with a few copper parts and some white elements on top.

[2020-02-11 19:22] fiveofds commented on #103
Thank you, I will give it a try now

On Tue, Feb 11, 2020 at 1:58 PM oldman4U <notifications@github.com> wrote:

[2020-02-11 20:34] fiveofds commented on #103
Question Grizwald is not a Delta printer is it? But I think sensorless
homing is working I believe the problem is in the latest Marlin-BugFix
2.0.x

On Tue, Feb 11, 2020, 2:22 PM Mike Duncan <nacnudskim@gmail.com> wrote:

[2020-02-11 21:38] oldman4U commented on #103
No, Grindelwald is not a Delta but a Cartesian.

This is great news, thank you!

I would check now line by line what the difference is and to compile it every few lines you changed. Doing so you should be able to find the problem(s). If you want, I can compile the same setup without BLTouch but with the official v2.0.3 of Marlin. Please let me know if you would like to give it a try.

[2020-02-11 22:03] fiveofds commented on #103
Sensor less homing is definitely working for me. I have adjusted it to my printer. I am using the most current version of Marlin not the bugfix version. There seems to be a problem with the bugfix version that was the issue. You can try to get the bugfix working if you want. Thank youMikeSent from my T-Mobile 4G LTE Device
-------- Original message --------From: oldman4U <notifications@github.com>

[2020-02-11 22:13] TheDark commented on #98
Here they go!

![IMG_20200211_220649](https://user-images.githubusercontent.com/389986/74284482-bbe4a100-4d1b-11ea-9979-68e97f8cd073.jpg)

![IMG_20200211_220707](https://user-images.githubusercontent.com/389986/74284489-c010be80-4d1b-11ea-9f66-99ac20ba4993.jpg)

[2020-02-11 22:21] GadgetAngel commented on #103
@fiveofds if you problem is solved you might want to close the ticket. I did not know bugfix had bugs, I think I will switch over to version 2.0.3 also. Thanks @fiveofds for that information and thank you @oldman4U for helping out

[2020-02-12 04:00] rflulling commented on #58
@GadgetAngel Great work. You have easily taken the what I started and grown that 5X over and keep on adding. Where mine is only regarding driver orientation and jumpers, yours is quickly becoming a guide for everything, and how it interacts with the SKR PRO. Great work, many times over.

The only questions I have now is to what program you use for your editing? and do you intend for your overlay g

[2020-02-12 04:06] rflulling commented on #58
I think this starts to go down a rabbit hole I considered as a last ditch attempt to help. But I really wanted to see that all other gatcha moments were had first. That is all opportunity to self fix were expended. My consideration was to ask for the card, drivers and all to be sent to me.

I suppose that really any of us who have ours working can do this.

However I suspect that since other drive

[2020-02-12 05:21] fiveofds commented on #103
I found that when  X_HOME_DIR, Y_HOME_DIR, or  Z_HOME_DIR   is changed from -1 to 1 sensorless homing stops working. For a delta printer, it has to be set to 1.

// Direction of endstops when homing; 1=MAX, -1=MIN
// :[-1,1]
#define X_HOME_DIR  -1  //MPD
#define Y_HOME_DIR  -1  //MPD
#define Z_HOME_DIR  -1  //MPD

So my problem is still not solved.

[2020-02-12 05:57] blanosko commented on #98
You dont have a solder bridge on SPI pad at the bottom of the driver. It cant work in SPI mode if dont have that two pads soldered together.

[2020-02-12 06:41] GadgetAngel commented on #98
@blanosko if you look very closely he does have the SPI bridged together. BTT uses a 0 Ohm resistor that has a black part in the middle. @TheDark could you take another picture of the BTT TNC2130 but title the TMC2130 a bit so we can see if the two SPI pads are truly bridged together? I also need a shot for a manual I am working on

@TheDark Your jumpers on the SKR Pro V1.1 board for TMC2130 shoul

[2020-02-12 06:57] GadgetAngel commented on #58
I use Abobe Acrobat DC to edit with. I will check out CanvasX. But I would prefer not to have the white space as the background overlay and have been struggling with it. Thanks for the tip.

If you use the google drive link to the document and download the file instead of opening it up on your mobile device, you will see that their are embedded links to other websites in the document. For some rea

[2020-02-12 07:06] GadgetAngel commented on #104
@Nyxtegida i would send back the board @bigtreetech @yangwenxiong

[2020-02-12 07:10] blanosko commented on #98
Yeah, you are correct. There is a resistor. My bad.

[2020-02-12 07:27] GadgetAngel commented on #98
@TheDark to get the TMC2130 to work in SPI mode the SPI jumper MUST NOT BE IN PLACE.

![F09E0E9B-EC72-462A-AD90-1B6195664BCF](https://user-images.githubusercontent.com/33468777/74312170-2d821680-4d3f-11ea-8eaf-50da8d39637d.png)
![C68AA630-5A5C-4AE5-AF34-7CB39B2A5C78](https://user-images.githubusercontent.com/33468777/74312181-31159d80-4d3f-11ea-9d48-c462194fdd66.png)

[2020-02-12 07:32] GadgetAngel commented on #98
@TheDark it looks like you bought the TMC2130 in standalone mode. Double check, is there a 0 Ohm resistor across the two SPI pads. If there is one there then the driver board is set for Stand alone mode:  on page 4 of https://github.com/bigtreetech/BIGTREETECH-TMC2130-V3.0/blob/master/TMC2130-V3.0RM.pdf

[2020-02-12 08:51] oldman4U commented on #103
Well, i am not a Delta expert, nor a Marlin scientist. But i would try to change a few homing related settings like the MIN_PLUG to MAX_PLUG to see if this solves the problem.

Also this setting could make a difference i guess:
// Manually set the home position. Leave these undefined for automatic settings.
// For DELTA this is the top-center of the Cartesian print volume.
//#define MANUAL_X_HOME_

[2020-02-12 08:58] oldman4U commented on #87
Seems @Lucano99 does not respond to this ticket. Would it be possible for an admin to close this ticket, please.

[2020-02-12 09:00] oldman4U commented on #86
Hello akarnaukh.

What kind of hardware would you like to connect to serial 3? As far as i know, the following Serials can be used with the SKR Pro v1.1:

SKR PRO v1.1
Serial port:
-1 is for USB
1 is for TFT
6 is for ESP-01S

Please let me know

[2020-02-12 09:04] oldman4U commented on #71
Hello @trendelkamp.

Could you please let us know if the problem is solved in the meantime. If so, kannst du das Ticket bitte schließen, danke.

[2020-02-12 09:07] blanosko commented on #98
So BTT 2130 have this inverted. You need open bridge for SPI and closed for STANDALONE. Iam I right? I have waterott drivers and they need solder bridge between pads near CS pin to work in SPI mode.

[2020-02-12 09:30] oldman4U commented on #58
@rflulling I totally agree with what you wrote above. Maybe i should just give up on this and enjoy my 2209s;-)

@GadgetAngel I will check the manual as soon as a new version is available. When i started with this journey it took some time to get the basics in my head. There was always a "is it really like i believe it is" feeling and i expect i am not the only one. Standalone, UART, SPI, change i

[2020-02-12 11:24] GadgetAngel commented on #98
@blanosko Here is the watterott documentation: https://learn.watterott.com/silentstepstick/pinconfig/tmc2130/

It show that the BTT is **THE SAME WAY**, the SPI jumper "CLOSED" is STAND ALONE mode and the SPI jumper "OPEN" is SPI Mode.
![TMC2130 watterott configuration for SPI mode same as BTT](https://user-images.githubusercontent.com/33468777/74330740-38996e80-4d60-11ea-8685-92ccaca7cc78.jpg)

[2020-02-12 12:41] GadgetAngel commented on #58
@rflulling and @oldman4U  and all, Here is the latestest link to the manual Version 3.2.  I can not find away to keep the link the same between versions.  So please use this link for the latest manual: https://adobe.ly/2SlERmi

I am now using the Adobe Acrobat cloud, so with that link you can make comments right in the document and I will get them.  So I invite you to do so.

I will continue to wo

[2020-02-12 13:00] akarnaukh commented on #86
oldman4U
to connect SonnOff instead of esp.
All the ports you have listed are just serial ports that are no different from each other. Except maybe USB.
There is no difference what to connect to them. Now for example I use the TTF port to connect to the computer.
The Board has a divorced serial3 port, it should work

[2020-02-12 15:14] oldman4U commented on #86
OK. Sorry, but i can not help in this case.

[2020-02-12 20:29] GadgetAngel commented on #58
@rflulling How did figure out which LV8729 needed to have the "D" jumper set and the other did not? can you point me to the what part of the documentation for the chips that made you specify that? Or explain why you knew that driver board would need the "D" jumper set?

[2020-02-13 05:27] fiveofds commented on #103
I have been trying different settings, what I do know is that if I have Marlin configured as a non-delta printer sensorless homing works. But when I configure it at a delta printer sensorless homing does not work. I think this is an issue with Marlin, not the SKR_PRO V1.1 or the TMC2209. Maybe this issue should be moved to the Marlin track instead of the Bigtreetech forum. What do you think?

[2020-02-13 08:14] oldman4U commented on #103
Hi fiveofds.

Hmmm, it almost sounds like a Marlin issue, so i an afraid at least i can not help further, sorry. Maybe there is someone else who has a Delta and can test this.

[2020-02-13 14:13] Mariu86 commented on #60
Thanks for all the help , I manage to use the PA2 pin for inductiv sensor but i must use the limit switch for z min, I do the homing with limit switch and UBL leveling with inductiv sensor .

[2020-02-13 14:57] GadgetAngel commented on #103
@fiveofds From the above you have the following settings:
`#define X_MAX_ENDSTOP_INVERTING false

#define Y_MAX_ENDSTOP_INVERTING false

#define Z_MAX_ENDSTOP_INVERTING false `

For Sensorless homing to work, it’s my understanding that these signals need to be inverted, please try this:

#define X_MAX_ENDSTOP_INVERTING true

#define Y_MAX_ENDSTOP_INVERTING true

#define Z_MAX_ENDSTOP_INVERTING tru

[2020-02-13 15:22] fiveofds commented on #103
When I try to compile it I am told that SENORLESS HOMEING requires X_MAX_ENDSTOP_INVERTING = false when homing TMC2209 to X_MAXMikeSent from my T-Mobile 4G LTE Device
-------- Original message --------From: GadgetAngel <notifications@github.com> Date: 2/13/20  9:57 AM  (GMT-05:00) To: "bigtreetech/BIGTREETECH-SKR-PRO-V1.1" <BIGTREETECH-SKR-PRO-V1.1@noreply.github.com> Cc: Mike Duncan <nacnudskim@g

[2020-02-13 20:02] jonasuea opened #105 "Erro ao configurar o Marlin 2.0 na placa MKS GEN 2.0 usando drivers TMC2208 2.0 uart"
Quem puder ajudar, agradeço muito, pois já não sei mais o que fazer :(
Estou tentando configurar a segunda extrusora, mas o o driver não está reconhecendo.
Aparece o seguinte erro.

SENDING:M122
		X	Y	Z	E	E1
Enabled		false	false	false	false	false
Set current	600	600	800	600	600
RMS current	581	581	795	581	1049
MAX current	819	819	1121	819	1479
Run current	18/31	18/31	25/31	18/31	18/31
Hold current

[2020-02-13 20:25] fiveofds commented on #103
I can get sensorless homing working IF it is configured as a cartesian printer but then configuring for my delta printer:

// Direction of endstops when homing; 1=MAX, -1=MIN
// :[-1,1]
#define X_HOME_DIR 1 //MPD
#define Y_HOME_DIR 1 //MPD
#define Z_HOME_DIR 1 //MPD

When this is switched from -1 to 1 sensorless homing stops working
Any advice?

[2020-02-13 21:21] #105 closed

[2020-02-14 12:45] spattinson opened #106 "flashing failures & bootloader support for long file names"
I have been reflashing marlin quite a lot recently and have run into issue where I have flashed firmware and changes I have made to marlin have made no effect to printer. The printer looks like it has flashed, the led blinks.
What I believe is happening:
Access the sdcard on your computer, copy firmware.bin to it - your computer creates a FAT long filename for the file despite the fact that the fi

[2020-02-14 23:17] TheDark commented on #98
Sorry for the delay in my answers, and thanks all for yours.

There is a jumper in the SPI pads, photos follow. If I remove it can I use the boards as SPI, or is it permanently in standalone mode?

![WIN_20200214_23_08_43_Pro](https://user-images.githubusercontent.com/389986/74575747-1847fa80-4f80-11ea-80ab-11a770bc544e.jpg)
![WIN_20200214_23_09_01_Pro](https://user-images.githubusercontent.com/38

[2020-02-15 03:01] GadgetAngel commented on #58
@rflulling , @oldman4U , @cobrettee , @RudyBenner , @DJKyomi  Would you all be so kind as to look over the manual??  I started a github.com repository for it  at https://github.com/GadgetAngel/SKR-PRO-V1.1-Stepper-Driver-Jumper-Configuration-Manual

But I would like all of you to review it.  Here is the link to the same manual on Adobe Acrobat Cloud.  By using this link you should be able to leave

[2020-02-15 03:51] GadgetAngel commented on #98
@TheDark you need to unsolder the jumper and then solder in CFG4 and CFG5 as the manual from BIGTREETECH says to.
![7BC5B888-BB91-4F46-BFF4-59C6D2339362](https://user-images.githubusercontent.com/33468777/74581345-74a91b00-4f7c-11ea-8422-7bd9296bdeca.png)

[2020-02-15 16:14] TheDark commented on #98
Thanks, I'll try that when I feel confident enough.

I'll probably have to remove the header to be able to remove the jumper without ruining the plastic and the pins. And those RG* pads are so tiny... the chances of me ruining the board will be high.

Regarding the 2208s, apparently Geeetech released some defective batches and maybe mine came from one of those. No serials to check though. The foll

[2020-02-17 04:14] rflulling commented on #58
@GadgetAngel
I do not recall now. However think this was based on architecture. That is this chip shared in common specific architecture in the design that others did not. That the A4988, ST820, and LV8825 required this configuration. It is possible that I assumed that the LV8729, which looked slightly older, would have needed the same jumper configuration. Without literately retracing my steps to

[2020-02-17 08:33] oldman4U commented on #58
@rflulling

This handbook is already great and i believe there is no better document available at the moment which describes all the stepper drivers in a better way. At least for me, this would have been THE source a few months ago. Maybe i just missed this information but if not - will you add also the information how to do and where to change mictrostepping in Stand Alone, for UART and SPI?

Reg

[2020-02-17 13:00] GadgetAngel commented on #58
@rflulling Yes I agree that the “D” is JUST a jumper. The “D” jumper does not dictate if RST or SLP are pulled to 3.3volts or GND.

 My understanding is that if a signal line is “active low” than an OPEN is the same as 3.3 volts or 5.5volts.

If a signal line is “active high” than an OPEN is the same as GND.

We are talking about reset and sleep lines, which means that if those lines are asserted

[2020-02-17 13:35] AnHardt commented on #58
If a signal line is “active high” than an OPEN is the same as GND.

There is no *general* rule.
A not connected input pin can have any state - regardless of being active high or low. It depends on, if the chip-designer designed a internal pull-up/down resistor into the chip, or not (then floating).
In case of modules a stronger pull up/down-resistor on the module-board could overrule the chip-inte

[2020-02-17 13:44] GadgetAngel commented on #58
So I basically need to buy the Lerdge LV8729 board to find out the answer to the question?  The only info on the driver board I could find is that it will list the values for MS3-MS1 but does not show a schematic for how the driver board is done. Here is what I did find on Lerdge LV8739:
![86299BD2-8E79-44E2-895D-8D0A71D388C7](https://user-images.githubusercontent.com/33468777/74659032-8ef01e00-51

[2020-02-17 13:47] oldman4U commented on #58
@GadgetAngel

I saw the jumper settings and this works great for someone already knowing the difference between Standalone and UART/SPI. Using UART/SPI you would have to add the Marlin config related to micro steps and steps/mm.

[2020-02-17 14:17] GadgetAngel commented on #58
Well I looked at the pin out on the BIQU, FYSETC and LERDGE LV8729 boards. The only manufacturer that lists any information on the LV8729 was FYSETC and its driver board has a different pin out than the BIQU and Lerdge boards. So I already tested the FYSETC board. I order the BIQU LV8729 so I could test it with the SKR PRO board to see if the “D” jumper is needed.  I suppose I need to get the Lerd

[2020-02-19 17:13] GadgetAngel commented on #58
@rflulling In your original document you list **Pololu LV8729** as follows:
![Form rflulling document DRIVER SEATING CONFIGURATION for BIGTREETECH SKR PRO V1 1 for Pololu LV8729 driver](https://user-images.githubusercontent.com/33468777/74855972-63129b00-530f-11ea-8ce7-344d5bcae321.jpg)

When I did my document, I could never find an LV8729 driver board (with the above shown pin-out) to match the o

[2020-02-21 12:42] derjg opened #109 "Can't find PSU_Control Pin"
I want to use the auto power down funktion, but can't find the pin and funktion.
Couldyou please help me?

[2020-02-22 16:18] dineshvyas commented on #41
// These pins have been defined for something else on the board but they MIGHT be
  // used by the user as PWM pins if they aren't used for their primary purpose.
  {PC_6,  TIM3,   STM_PIN_DATA_EXT(STM_MODE_AF_PP, GPIO_PULLUP, GPIO_AF2_TIM3, 1, 0)}, // TIM3_CH1    ESP8266 connector. Available if 8266 isn't used
  {PC_7,  TIM3,   STM_PIN_DATA_EXT(STM_MODE_AF_PP, GPIO_PULLUP, GPIO_AF2_TIM3, 2, 0)},

[2020-02-22 16:34] Nyxtegida commented on #104
Well. It eventually died. I think now its on a permanent state of reset, or that what the st-link says. I got a refund for it so I'm getting another.

[2020-02-22 16:34] #104 closed

[2020-02-25 11:21] Uri-34 opened #110 "SKR Pro v1.1 + TMC5160 + Double X + SensorLessHoming + Motor 24V 1.8deg 2.0A ?..."
Good day !
I ask for help in solving the problem !!!
My kit : SCR Pro v1. 1 & TMC5160 x 6 & Motor 24V 1.8 deg 2.0 A x 5 & Motor 24V 1.8 deg 1.5 A & Motor 24V 1.8 deg 3.0 A & Marlin 2.0 !
My task: control 4 motors : X 2Y Z, and two more E1 E2 for my purposes ! I will be very grateful for any help in solving the problem !

[2020-02-25 11:56] Uri-34 commented on #110
Here is a link to the configuration files : https://yadi.sk/d/gGtXFX3MJqUf6Q
I will be grateful for pointing out the wrong points !

[2020-02-25 20:27] tphan26363 commented on #110
I can't point out what is wrong  since I don't have time.  But here is a configuration with mixed TMC2208 and TMC5160 with Dual Z.  You can use it as an example. it should not be too hard.  Just to make sure the jumper on the board set accordingly for your TMC( serial mode or SPI mode)

[Configuration.h.txt](https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/files/4252013/Configuration.h.txt)

[2020-02-26 11:23] LehrChristoph commented on #73
Is there anything planned from @bigtreetech to support the USB composite device inside Marlin?

[2020-02-27 08:32] Uri-34 commented on #110
Good day ! Unfortunately, the firmware with your configuration files is not compiled ! Maybe you didn't send all the changed files ?

[2020-02-27 08:55] Uri-34 commented on #110
I would like to understand the nuances of configuring TMC drivers... ! :)

[2020-02-27 22:50] rromanii commented on #109
It took me a while to find out but it looks like the official relay uses PF15.

https://github.com/bigtreetech/BIGTREETECH-Relay-V1.2/blob/master/BIGTREETECH%20Relay%20V1.2/BIGTREETECH%20Relay%20V1.2/Relay%20V1.2-Operating%20Instruction.pdf

That means that it takes the pin for the ESP01 wifi module GPIO 2.
![PS-On-pin](https://user-images.githubusercontent.com/47548798/75492587-4f9daa80-5975-11ea

[2020-02-28 11:56] dineshvyas commented on #75
PF8 wokred but motors stopped working.

[2020-02-28 15:43] UnderXirox commented on #74
Hello (sorry for my English) here is a post it reminds me of the concern I had too
here is the post

https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/issues/48

[2020-03-02 01:33] rflulling commented on #58
Ok, wow thing thing has sure taken on a life of it's own!

@GadgetAngel I think with your diligence, you have found issues in my effort to provide a guide. This is 100% expected and 100% ok. I am not sure if you can see it on the link, but I even put notes on google telling visitors to tell me if they think they found an error.

On the downside. I had prepared to wipe this system and reload when I

[2020-03-02 08:50] AnHardt commented on #58
That's a misreading. It's just the socket the module is plugged in - what is POLOLU style.

[2020-03-03 14:32] derjg commented on #109
Thanks a lot, it works fine now :-)

Great Service 

 
 

Gesendet: Donnerstag, 27. Februar 2020 um 23:50 Uhr
Von: "rromanii" <notifications@github.com>
An: "bigtreetech/BIGTREETECH-SKR-PRO-V1.1" <BIGTREETECH-SKR-PRO-V1.1@noreply.github.com>
Cc: derjg <derjg@web.de>, Author <author@noreply.github.com>
Betreff: Re: [bigtreetech/BIGTREETECH-SKR-PRO-V1.1] Can't find PSU_Control Pin (#109)

It took me

[2020-03-04 14:25] yakumoklesk opened #111 "SKR PRO 1.1 + TCM5160 with debug pin added "Bad Response""
Hi. I have downloaded the bigtreetech branch for SKR-PRO-V1.1. I've soldered a pin on my TCM5160 diag hole. I am using TCM5160 driver mode, not standalone, and configured the pins. Also had set the TCM library dependency for the repository, although for some reason keeps downloading another that is version 0.6.2. In case I "force" to use the 0.4.5 from the repo, the compilation fails instantiation

[2020-03-08 15:06] GadgetAngel commented on #58
PLEASE watch my github.com repository for updates on the manual.  I will be updating it in the next couple of days.

https://github.com/GadgetAngel/SKR-PRO-V1.1-Stepper-Driver-Jumper-Configuration-Manual

I have added more stepper motor drivers and additional information.  I will let you know when I have uploaded the latest edition.

If you have any more ideas, I would very much appreciate the inp

[2020-03-08 20:46] jukillo opened #112 "SKR PRO V1.1 + TMC5160. Random freeze while printing from USB/TFT"
Hello mates,

I have been looking for a solution to this problem for two months.

When I try to print from USB or from BTT TFT24, the printer stops randomly. Motors on, heaters too: bad situation. Printing from S3D i receive Firmware unresponsive error when this happens. If i click on force next, the printer continues.

The only way to finish a job is printing from LCD 12864 SD.
I have tested seve

[2020-03-10 09:23] UnderXirox commented on #85
Bonjour
pour active le mode wifi sur ma SKR-PRO

voici a tester pour vous aussi
crée un fichier  nome  et le placer avec les fichier avec les fichier

Configuration.h
Configuration_adv.h
and
Configuration_Secure.h

1.  Crée un fichier Configuration_Secure.h
ceci dedans

         /**
          * * To set a default WiFi SSID / Password, create a file called Configuration_Secure.h with
          * *

[2020-03-10 13:07] oldman4U commented on #103
Hello Mike.

Could you please confirm that "stop working" means that the motor spins for a second or so, but stops after that and never homes correctly? Seems i can reproduce the issue after changing the way the motors are connected to my printer.

[2020-03-10 13:17] fiveofds commented on #103
Yes, it isMikeSent from my T-Mobile 4G LTE Device
-------- Original message --------From: oldman4U <notifications@github.com> Date: 3/10/20  9:07 AM  (GMT-05:00) To: "bigtreetech/BIGTREETECH-SKR-PRO-V1.1" <BIGTREETECH-SKR-PRO-V1.1@noreply.github.com> Cc: Mike Duncan <nacnudskim@gmail.com>, State change <state_change@noreply.github.com> Subject: Re: [bigtreetech/BIGTREETECH-SKR-PRO-V1.1] Sensor-les

[2020-03-10 13:22] oldman4U commented on #103
OK, so i have to do more tests, but it seems that i can reproduce the issue on my machine. I will do some more tests and let you know.

Would you be so kind and reopen this ticket. Maybe someone else can help or this issue has to be escalated to the developers.

[2020-03-10 13:32] fiveofds commented on #103
Ok, I will try to figure out how to do that.Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: oldman4U <notifications@github.com> Date: 3/10/20  9:22 AM  (GMT-05:00) To: "bigtreetech/BIGTREETECH-SKR-PRO-V1.1" <BIGTREETECH-SKR-PRO-V1.1@noreply.github.com> Cc: Mike Duncan <nacnudskim@gmail.com>, State change <state_change@noreply.github.com> Subject: Re: [bigtreetech/BIGTRE

[2020-03-10 14:32] fiveofds commented on #103
Issue still exists

[2020-03-10 17:08] Tinchus2009 opened #113 "compiling problem"
Sorry to report this, not really used to handle comipling in VS code. I tried to compile the formware for the bigtreetech skr pro v1.1
I followed all the instructions I found here very carefully.
Compilation seems to finish ok (only yellow messages), but the final linking fails with this message:
c:/users/xxxx/.platformio/packages/toolchain-gccarmnoneeabi/bin/../lib/gcc/arm-none-eabi/7.2.1/../../.

[2020-03-10 20:11] BrianS2K opened #114 "SKR PRO V1.1 +TFT35 V2.0 + 6 x TMC2130 SPI + Dual Z + Sensorless Homing"
Hello,
I have 2 issues :
1) I have 2 Z motors, I test them individualy (with the 2 jumpers) they works, but when I connect the 2 motors they make an horrible noise and don't move, just vibrate....

2) I enable Sensorless Homing but when I home X or Y, Z move...

I wonder what I'm doing wrong?

Here is the Sensorless Homing code sequence :

#define SENSORLESS_HOMING // StallGuard capable drivers on

[2020-03-10 20:56] BrianS2K commented on #114
I found the reason of my first issue

But I have allways the second issue (I have others but that'll for after solving this one

[2020-03-10 22:47] janoc commented on #114
I had the same problem - it is the TMC2130 driver issue. Disable the StealthChop (silent) mode on the Z axis in Marlin and the issue will be gone.

My hypothesis is that the driver expects certain impedance of the motor to be connected for the StealhChop mode to work correctly and when you connect two motors to the same driver this isn't satisfied anymore. And the driver goes nuts ... The classic

[2020-03-10 23:27] janoc commented on #113
See #88, mainly the reply: https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/issues/88#issuecomment-570828632

[2020-03-11 01:35] Tinchus2009 commented on #113
Thanks for the quick answer. It didnt worked. Is this board "stable". Something is not really good here: Doing that edit did not ork, but then I rolled back the changes, tried to compile again, and Im not being able to get to the point I got before. Now I receive the error almost inmediatly and it s not the same error as before.
Just to be sure I didnt touch anything else, I erased the folder, unz

[2020-03-11 02:45] Tinchus2009 commented on #88
I have the same error, but none of the propose solutions worked, any other ideas?

[2020-03-11 03:17] #113 closed

[2020-03-11 08:30] oldman4U commented on #103
Hi.

I can confirm that i can see the issue you described on my machine on all axis as soon as i change the homing direction from -1 to 1. Using the latest Marlin version 2.0.4-4 with my SKR Pro v1.1 with BTT 2209 v1.3 and a TFT28 display if this is important. Fortunately i have a working solution because my system is using -1 homing direction, but for me this looks like something which could prob

[2020-03-11 11:43] chrstrvs opened #115 "How to flash bootloader?"
Hi!

I accidentally shorted a IO pin to 5v and fried the processor. The rest of the board appears to be working, so I'm thinking of swapping the processor for a new one, but I need to flash the bootloader to it.
I understand that I need a ST Link programmer, but how do I hook it up to the SKR Pro board?

Thanks in advance!

Regards,
Christian

[2020-03-11 13:39] GadgetAngel commented on #115
@chrstrvs Check out this https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/issues/72

[2020-03-11 13:49] chrstrvs commented on #115
Thanks, that's exactly what I needed!

[2020-03-11 21:29] BrianS2K commented on #114
I tried, I didn't change anything but maybe I missed something
I comment :
//#define STEALTHCHOP_Z

Tomorrow I'll try with a A4988 and cross my fingers...

But I saw also this line as I have TMC2130 V3.0 SPI should I also uncomment this ? :
  /**
   * Software enable
   *
   * Use for drivers that do not use a dedicated enable pin, but rather handle the same
   * function through a communication l

[2020-03-12 00:04] danandmary commented on #115
For clarification :
1) Jumper BOOT0 Pin to 3.3V
2) Get and FTDI Adapter,
3) Download https://www.st.com/en/development-tools/flasher-stm32.html
4) Make sure logic voltage switch on FTDI Adapter is 3.3v
5) Connect to SKR Pro 1.1 as follows Connect 3.3v VCC and ground to UART VCC and ground pins
6) Connect FTDI TX to TFT Connector RX1 and FTDI RX to TFT Connector RX1 (For me the UART TX and RX Pins

[2020-03-12 01:48] Rhage opened #116 "Part Cooling Fan not shared between multiple extruders"
I have a multi-extruder setup with a single nozzle

The Slicer (Cura 4.5) is set to turn the print cooling fan on starting at layer 2.
When layer 2 begins the third extruder is active and the part cooling fan correctly turns on.

However, as soon as the active extruder changes, to either extruder 0 or 1, the cooling fan turns off and only resumes when the third extruder (number 2) becomes the acti

[2020-03-12 06:41] chrstrvs commented on #115
I will probably be using a ST-LINK adapter. Am I right in assuming that I will replace steps 4 to 10 with connecting the ST-LINK adapter to 3.3v, ground and SWD pin and use ST-LINK sw to burn the bootloader?

[2020-03-13 04:53] danandmary commented on #115
Im sorry I don't have an ST-Link.

[2020-03-13 19:12] janoc commented on #114
My configuration is here:
https://github.com/janoc/BIGTREETECH-SKR-PRO-V1.1/tree/mendel90/firmware/Marlin-bugfix-2.0.x%20SKR%20ProV1.1-Dmeo/Marlin-2.0.xSKR%20ProV1.1-Demo/Marlin

Out of top of my head things that could cause issues:
- make sure you have 800mA current selected (in Configuration_adv.h)
- **do make sure you have heatsinks on the drivers** - super important because these drivers get r

[2020-03-14 13:25] guruathwal commented on #103
@fiveofds To Summarize your issues and findings:
You are trying to enable sensorless homing on a Delta printer
The sensorless homing is working perfectly if it is configured as a cartesian printer.

With this information, I can only think of one possible reason :

the Diag PINs of the TMC2209 drivers are connected to the `MIN Endstops` connectors on the board, which works with the printers with ho

[2020-03-14 13:37] fiveofds commented on #103
With the SKR Pro v1.1 the diag pins are connected internally on the board. I don't know about the pins file for the SKR Pro v1.1. Sorry I am not a Marlin high speed guy. I am just trying to get my printer to work. But I believe that you have the right idea about what is happening Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: Gurmeet Athwal <notifications@github.com> D

[2020-03-14 13:57] guruathwal commented on #103
**This information form the Marlin documentation page confirms my theory:**

![image](https://user-images.githubusercontent.com/22422544/76683370-9653fb80-6629-11ea-9984-8db8d45ae288.png)

https://marlinfw.org/docs/configuration/configuration.html#endstop-plugs

[2020-03-14 14:35] guruathwal commented on #103
**@fiveofds  according to SKR_PRO_V1.1 Pinout, the StallGuard pins are only connected to the `PB10`, `PE12` & `PG8` PINS**

![image](https://user-images.githubusercontent.com/22422544/76684073-e41f3280-662e-11ea-96c6-885e982e7111.png)

![image](https://user-images.githubusercontent.com/22422544/76683633-af5dac00-662b-11ea-8f87-ce5aa0a5ddb4.png)

**you have also used the Max End stops**

*You need

[2020-03-15 02:25] guruathwal commented on #103
@fiveofds.  Can you please edit or remove your second and third comment? because Its very frustrating to scroll on phone.

[2020-03-15 05:14] GadgetAngel commented on #58
I have updated the manual. It's now at version 3.6.  I am still waiting on stepper motor drivers to show up from China.  If any of you can check out the manual it would be very much appreciated.  Here is the link: https://github.com/GadgetAngel/SKR-PRO-V1.1-Stepper-Driver-Jumper-Configuration-Manual

If you download the PDF file all the hyperlinks will work.  Hyperlinks are in place for the index

[2020-03-15 10:24] BrianS2K commented on #114
Hello,
I followed your advice, disabled everything, swaped drivers and I have always the issue.
When I use Single Z motor (Jumpers on the second Z port)

[SKR PRO V1.1 Single Z.mp4.zip](https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/files/4334019/SKR.PRO.V1.1.Single.Z.mp4.zip)

When I use Dual Z motor

[SKR PRO V1.1 Dual Z.mp4.zip](https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/f

[2020-03-15 13:21] janoc commented on #114
Uh, not sure what did you record those videos with because I had to use 3 different video players to play them - one was showing only a black screen and had sound, another showed only a static image with sound and third one showed video but no sound ...

That noise that you have when you connect two motors to a single driver is exactly the same what I had. For me disabling the StealthChop and sett

[2020-03-15 14:00] oldman4U commented on #103
My Guru, my hero.

What you recommended works for me;-) THANK YOU

Hope it also works for fiveofds.

For me this looks more like a workaround than a solution. Is this right?

[2020-03-15 16:12] guruathwal commented on #103
@oldman4U I am Glad to know that it worked :)
This is the only possible way to get it working.

[2020-03-16 13:21] oldman4U commented on #103
@guruathwal Maybe it would be a good idea to have this saved somewhere as a kind of "How to" article. There are users like you, familiar to read the documents and getting the things done right. But for someone new to this it is hard to understand. I am sure there are more users out there having a similar problem and the solution is easy, once you know it - like always;-)

Thank you again, i really

[2020-03-16 13:38] fiveofds commented on #103
Well now I am having another issue but I'll get it working soon. Thanks Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: oldman4U <notifications@github.com> Date: 3/16/20  9:21 AM  (GMT-05:00) To: "bigtreetech/BIGTREETECH-SKR-PRO-V1.1" <BIGTREETECH-SKR-PRO-V1.1@noreply.github.com> Cc: Mike Duncan <nacnudskim@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [

[2020-03-16 14:46] oldman4U commented on #103
I know this problem - and she is standing between you and your printer 🤪

Georg

Mike Duncan <notifications@github.com> schrieb am Mo. 16. März 2020 um
14:39:

[2020-03-17 09:12] oldman4U commented on #58
Hi GadgetAngel.

This document is great! one thing. You order the stepper drivers in chronological order, but the 2209 is after the 2225 (or vice versa). I believe they should be flipped, right?

And me 2 cents to another topic. Wouldn't it be better to start the document with Appendix A and B (up to and including How to Calculate Vref for TMC....). This information is important for the reader so

[2020-03-17 12:59] johnny49r commented on #23
Hi, You can use the E3D PT100 board without modification on the BigTreeTech boards but should work for other 3.3V / 32 bit controllers.
First you need to run the E3D board at 3.3V since the BTT analog inputs are not 5V tolerant. The E3D PT100 [INA826] amp will run fine down to 3V.
Second you will need to compile the Marlin FW with the attached thermistor_22.h file. This has correct translation for

[2020-03-18 06:25] guruathwal commented on #103
@oldman4U Another way to get this working is by cutting/removing the Stallguard pin on the TMC board, as shown in the below image. then it can be connected to the Max Endstop pins with a jumper wire. this does not require any additional firmware change.

![image](https://user-images.githubusercontent.com/22422544/76931237-3f427500-690e-11ea-9f4e-e6c53cad534c.png)

[2020-03-18 06:31] oldman4U commented on #103
Hi.

Yes, but then i can not use senseless homing which works fine.

Gurmeet Athwal <notifications@github.com> schrieb am Mi. 18. März 2020 um
07:25:

[2020-03-18 06:40] guruathwal commented on #103
@oldman4U You can use the sensorless homing without swapping the PINs. the Sensorless homing pin will be connected to the MAX Endstop pin with jumper wires, which is by default the Marlin firmware assumes.

[2020-03-18 06:46] oldman4U commented on #103
You mean i can replace the SKR internal wiring using a cable which connects
to the endstop pin. I prefer the software change but maybe we should add
this information to the documentation. Again, thanks a lot for your help.
You helped me to improved my reprap a lot.

Gurmeet Athwal <notifications@github.com> schrieb am Mi. 18. März 2020 um
07:40:

[2020-03-19 01:19] tphan26363 commented on #110
it just an example .  it can not apply to your case.  But  I mark all the
places that need to change.  you can follow that and do your own.  The
hardware detail is not the same

On Thu, Feb 27, 2020 at 2:55 AM Uri-34 <notifications@github.com> wrote:

[2020-03-19 11:03] Uri-34 commented on #110
Good day !

I've dealt with everything except sensorless !
Who can tell if you need to solder DIAG1 on TMC5160 ?
As far as I understand this is a necessity !?

Best regards.

[2020-03-19 15:21] BrianS2K commented on #114
Hello,

I tried with A4988 and the problem was the same so went back to the TM2130...
But I found a partial solution of the problem :
I checked the Z estep and they were at 4000 => changed to 400 and it turns.
unfortunatly whether I do UP or Down it only goes up ????
And I also have a horrible noise as long as the stepper is not automatically deactivated after 2 minutes ...

I start thinking possi

[2020-03-19 23:06] #98 closed

[2020-03-20 08:22] Uri-34 commented on #110
Good afternoon! All the existing problems have been solved for this day ! :) Thank You ...

[2020-03-20 08:23] Uri-34 commented on #110
Go on ...

[2020-03-20 09:02] janoc commented on #114
Ah that Z estep at 4000 is waaay too high. Normal 200 step/rotation motor and 16 microsteps has 200*16 = 3200 for a leadscrew with 1mm pitch. With my leadscrews that have 2mm pitch but 8mm lead, I have only 400 (200*16/8 = 400). So yes, that could well cause a problem because the motor is simply unable to keep up with the changing current from the driver.

The interesting noises the motors make wh

[2020-03-22 10:37] BrianS2K commented on #114
Hello,
Thanks for all those informations and you're noise description is right :-D
I din't put the jumpers on the motherboard, it cames factory configured for 6x TMC2130.
I checked the pins and they are OK
Where in Marlin can I found the direction configuration ?

[2020-03-22 11:56] janoc commented on #114
Hmm, then I do wonder. The documentation shows clearly that for testing with the Allegro driver you need to put in a jumper and for configuring the TMC2130 in SPI mode, you need to put 4 jumpers per motor in a different place and remove that one for the Allegro driver.

Are you really sure you have it set up correctly? My board came preconfigured for the TMC2130 in SPI mode, with the jumpers in pl

[2020-03-22 16:11] mcmuff91 opened #117 "SKR PRO 1.1 + TMC5160, Homing is "working" but no other movement"
Hello everyone,
atm I´am working on a big selfmade Delta-printer for Ceramics.
The setup:
- Skr Pro
- TMC 5160 V1.2 BTT (removed the CLK Pin)
- Nema 23, 3 A, 1,8°
- 24 Volt Power supply
- RepRap Full Graphic LCD

The main problems:

- When i send G28 via Pronterface or via the RepRap-Controller the printer starts to home. But one after the other (x,y,z). There is no movement of all three Axis at t

[2020-03-28 15:54] Charly333 opened #118 "Serial ports are gone"
Had SKR PRO V1.1 working with 6x 5160 for a couple of month. Now after a restart TFT 35 and Octoprint won´t connect with serial ports any more.

Reflashed firmware that did run before: No serial found, neither by TFT 35 nor Octoprint or PC.
Flashing works, green LED flickers on start and firmware.bin is renamed to FIRMWARE.CUR. Did test several reformatted micro SD cards. Any LED shows the state e

[2020-03-30 09:40] chrisdruck opened #119 "No firmware update possible via SD card"
I tried to make a setting in Marlin 2.0 bugfix so that I can describe the epromm and then I loaded the Firmware.bin. Because I could not set a command M500 Now I can no longer load firmware via SD card. Can I delete the firmware from the board. I can run M997 but then no M500

[2020-04-01 02:10] rflulling commented on #58
I think, it's time for me to make a new help document. lol
But not specific to the SKR PRO. It should be specific to each driver. ;-)
Cant find anything like it out there. I have to imagine that after its done, GadgetAngel will add it to the book. Wondering though if the book should be two books. Info specific to the drivers and how they relate to the SKR PRO. Info about the drivers themselves and

[2020-04-01 02:16] rflulling commented on #58
Way off topic: Any one know a great place to talk shop with other 3D Printer users and builders other than right here or on 3D Printers group on Facebook. I was banned from the Facebook group for questioning the admins being passive aggressive jerks. Decided it wasn't worth it to fight the mess. I am a member of many other groups including one run by the lead developer of Marlin, Thinkyhead. But f

[2020-04-01 03:40] Bob-the-Kuhn commented on #25
Thanks for the bootloader info.

I tanked my board by using ST-Link to upload Marlin.  I have a second board so I was able to download the bootloader and move it to the tanked board.  After inserting a disk with firmware.bin on it the board is now fully functional.

FYI - here's the bootloader:
[bootloader_0x_0000_0000.zip](https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/files/4411937/boot

[2020-04-01 12:08] vover000 commented on #106
Помогите решить проблему.
Дело в том, что при сборке 3Dпринтера, случайно закоротил  проводом нижнюю часть платы SKR PRO v1.1, в результате чего сгорел Микроконтролер  Stm32f407zgt6 который установлен на ней, я нашёл и купил новый Stm32f407zgt6, заменил его.
Теперь проблема прошить правильный файл bootloader.bin.
Проще говоря нужен правильный файл bootloader.bin для этого Микроконтролера.
Материнс

[2020-04-01 12:10] vover000 commented on #106
Help me solve the problem.
The fact is that when assembling a 3dprinter, I accidentally shorted the lower part of the SKR PRO V1.1 Board with a wire, resulting in the burning of the stm32f407zgt6 Microcontroller that is installed on it, I found and bought a new Stm32f407zgt6, replaced it.
Now the problem is to flash the correct bootloader file.bin.
Simply put, you need the correct bootloader file.

[2020-04-01 12:53] kolbolt commented on #119
I have been trying to fix or get the BIG-TREE-TECH skr pro V1.1 to work with marlin 2.0x bugfix by following this video on youtube [](https://www.youtube.com/watch?v=VsKHwYtqLz0).

And I got this for an error.

Processing BIGTREE_SKR_PRO (platform: ststm32; board: BigTree_SKR_Pro; framework: arduino)
--------------------------------------------------------------------------------
Verbose mode can

[2020-04-01 12:55] AnHardt commented on #106
https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/issues/25#issuecomment-607009288

[2020-04-01 21:41] oldman4U commented on #119
Hello Kolbolt.

Would be great if you could start your own ticket instead of using the ticket of another user.

You can find the error in the text you pasted above, where it says:
#error "BOARD_BIGTREE_SKR_PRO_V1_1 has been renamed BOARD_BTT_SKR_PRO_V1_1. Please update your configuration."

So please change the platform.ini file accordingly which should solve this problem.

Hope this helps

[2020-04-01 21:43] oldman4U commented on #119
@chrisdruck

Sorry that i can not help with your problem

[2020-04-01 21:48] oldman4U commented on #58
Welcome back rflulling.

I got my A4988 based on the red PCB and i hope i find some time to test it soon. Saw the new GT board and the SKR v1.4 but still believe that the Pro is the best board you can get.

[2020-04-01 22:37] kolbolt commented on #119
Ok

[2020-04-02 00:08] rflulling commented on #58
Well, as for the type of board. If the one that is meant to compete with the Duet boards had already been out. I might have tried it. But at this point it is a bit of a Joke. Then there is the So called SKR Turbo which they wanted to call SKR PRO, even though it clearly has nothing in common. Nope not touching any of that. I might try another brand if needed.

My Wanhao mini has a Duet Maestro str

[2020-04-02 00:22] rflulling commented on #58
For the Carrier boards. Still not sure Red or Green matters. I have both and did not perceive any difference. However looking of the catalogued info gathered and documented by GadgetAngel you can see the more subtle differences in the resisters used. Not sure any of that means a lick of anything in your case.

If after trying this and it still doesn't work. Let me know. If you are up for it. Ship

[2020-04-02 23:52] rflulling commented on #58
Just now double checked my 4988 drivers against the data that GadgetAngel posted. I see now why I suspected it made no difference. Red or Green. Near as I can tell they are made by the same. Though the Green have a thicker layer of white sink screen text. They both have Rs=0.1ohm.

Looking at the S820 they are Rs=0.15ohm.

Now it makes more sense why they all seemed to be about the same behavior,

[2020-04-03 01:04] npmomchev commented on #25
Is possible send bootloader.bin.
Thank You

[2020-04-03 01:29] npmomchev commented on #115
Is it possible for someone to share only  **bootloader.bin**  which does not include firmware in self

Thank You

[2020-04-03 01:41] npmomchev opened #120 "I need original Bootloader.bin"
My board SKR-PRO-V1.1 after reboot lost its boot loader. After flash with custom bootloader.bin board boot again.
If possible share original bootloader.bin .
Thank You in advance BTT

[2020-04-03 09:33] oldman4U commented on #58
Hi rflulling.
Where are you located? I am in the middle of europe.

Why do they offer different colours and do not ship them randomly but let you choose which one you would like to buy? Makes no sense to me;-)

[2020-04-03 09:37] oldman4U commented on #58
And once the stepper motors are done, you can do the bed levelling. I believe this is even more complex than the steppers....

[2020-04-03 10:17] skypuppy commented on #25
What if you use the 32k offset to store your functions?  Read how klipper does it.

[2020-04-03 23:45] rflulling commented on #58
well... that blows that idea. I am in the Middle of the USA...

The leveling is independent of the Controller, Driver, Steppers calibration and matching.

Leveling will be Controller, Firmware and chosen sensors if any.

Colors are likely based on the Batch, When they were made, who ordered them, what deals the board house was offering etc.

[2020-04-03 23:50] rflulling commented on #58
I started working on the New Data last night. Once i put my head to it, it should be pretty easy to get the data I am looking for. Will try to put it on one page. But looks like it might be at least 18 pages. Maybe.

[2020-04-04 11:59] Charly333 commented on #114
Hi, had the same issues when i first swapped Z roods to Pitch 2mm Lead 2mm.  Had to have M203 below Z10  and with M92 Z1616  - on MKS, SKR 1.3 and SKR 1.0 Pro.

I´ve now switched to Pitch 1mm Lead 1mm and have to have M203 below Z3 and M92 Z3232 . In my start gcode before UBL Bed leveling I reduce to Z2 and raise after leveling back to Z3. This gives me a  Standard Deviation: 0.002713 mm on M48 Z-

[2020-04-05 06:17] davidmarli opened #121 "sensorless probing : not compiling ..."
Hi,

Itry to test sensorless probing, but marlin do not want to compile :
Skr pro 1.1 + 2130 spi divers. Marlin 2.0.5
I uncomment     #define SENSORLESS_PROBING
When I try to compil :

#error "SENSORLESS_PROBING requires a TMC stepper driver with StallGuard on Z."

How to fix it ? What am I wrong doing ?

Thank you for your help

[2020-04-05 16:31] MikeVanDike opened #122 "SKR Pro V1.1 Question about two Fans"
Hi Bigtreetech-Team,
i have a Question for you.
I want to cool my printet Object with two Fans.
How can i realize this?
Is it possible to connect two Fans on one Output (Fan0)? (whats the max Amp fore one Fanoutput?)
I try this and it smels not good :-S
Or can i conncet one Fan on Fan0 and another one on Fan1 and syncronice it in the firmware?
But how can i do this? :-/

[2020-04-05 17:48] pecherskiy-v commented on #25
I tried to flash your bootloader, but got an error: "Programming error @: 0x00000000."
maybe I'm doing something wrong.
<img width="961" alt="Аннотация 2020-04-05 204802" src="https://user-images.githubusercontent.com/10776864/78505842-c735d500-777e-11ea-9b64-4ca34851bdcb.png">

[2020-04-05 18:49] pecherskiy-v commented on #25
https://www.youtube.com/watch?v=cUn_A5N9mMc - working dump.

[2020-04-06 17:27] oldman4U commented on #58
Ladies and gentlemen, Madam et Monsieur, meine Damen und Herren.

We proudly present.....

...like you can see it in the title. Changing the E0 stepper driver from 2209 to the A4988 with the green PCB and in the latest Marlin changing the stepper from
#define E0_DRIVER_TYPE TMC2209
to
#define E0_DRIVER_TYPE A4988
and allowing cold extrusion by disabling
//#define PREVENT_COLD_EXTRUSION
//#define E

[2020-04-06 18:24] oldman4U commented on #58
And because I can imagine you want to see some pictures, here for you to compare the two.
![IMG_6886](https://user-images.githubusercontent.com/54359396/78591759-39bcb880-7844-11ea-9776-cb890c4b6969.JPG)
![IMG_6896](https://user-images.githubusercontent.com/54359396/78591767-3d503f80-7844-11ea-9283-38749ee15da9.JPG)
and because the main chip seams to be the only difference, I checked them but all

[2020-04-06 21:33] Mariu86 commented on #121
You must set the extruder 0 with tmc driver.

[2020-04-07 04:51] rflulling commented on #58
Interesting find in the data. None of my chips are like the one you have on your red chip. This is a new series, or a 100% Chinese based Replicant, that than a POLOLU sourced chip on a Chinese board.

Would be interesting what the SQ and E stand for. Never seen anything like this. Never dug this deep.

Glad it works though. You are saying the Red one worked, right?

I do note that the Green one th

[2020-04-07 05:19] davidmarli commented on #121
Hi,

alreadey done, I have 5 tmc2130 driver.
In marlin, I wrote TMC2130 for driver X,Y, Z E0 and E1.
Still same bug when compiling.

[2020-04-07 07:33] rflulling commented on #58
Yay, I have the math on my new document working. Now I just need boatloads of Stepper motor's data to pack the grid. This one will automatic flag a pairing of motor and driver if the driver is unable to support the motor either by specification or by circumstance. When all is said and done I may even be able to make it really spiffy where a user can use drop down menus to elect's their set up and

[2020-04-07 07:36] oldman4U commented on #58
Good morning.

The picture shows only one of 6 green PCB A4988 and they all behave the same, does not matter what the rms is - and i tested this enough.

For me this ticket can be closed. There are several kinds of A4988 which can be bought on different PCBs and they are sold without the information what the difference is. This kind of drivers is old and should not be used any more. More modern dr

[2020-04-07 07:48] rflulling commented on #58
The A4988 is the Default. But, indeed if a particular source is shipping bad parts this is troublesome. So while I still stand by the Driver works fine with SKR PRO, and Marlin 2.03, I think it is clear you got a bad batch. Whatever the issue may be. It is troubling that there is no really way to know what you are ordering, unless they actually come from Pololu.

Building this next document. Looki

[2020-04-07 07:53] oldman4U commented on #58
Olden but golden;-) But outdated i think. Also the RAMPS boards and Arduino are defaults, but not for the majority of the users today. I bought the A4988 to be sure this part would work and exactly this part caused most of the issues for me. I am sure that this is not the case for others, but there are still better options which are working well too.

Just my 2 cents

[2020-04-08 11:40] samgozman opened #123 "SKR Pro V1.1 stops while working with octoprint"
Serial port falls off during printing through an octopoint.
[Detailed video](https://youtu.be/rcAsfghPEvI)
Tried stock firmware and marlin 2.0.5. Octoprint connection is working only with baudrate  115200, and drops while printing.

To others, the problem with this board is:
- sd card never worked on it (No media) (sdsupport on)
- USB never worked

Also, the BigTreeTech TFT35 v3.0 display can neve

[2020-04-08 13:18] AlexanderAmelkin opened #124 "Schematics and layout not conforming to connector datasheets"
According to datasheet on JST XH series of connectors, pin 1 is as follows:

![jst-pin-1](https://user-images.githubusercontent.com/4518124/78788142-10229f00-79b4-11ea-8361-a832e60e82bf.png)

However on SKR Pro v1.1 square pads under JST connectors are at the opposite part of the connector. For example, on the following picture you can see a standard notch designating pin 1 on the connector near t

[2020-04-09 17:39] LegendAlexander opened #125 "How Do You Print On A SKR PRO"
I have seen many comments and posts of the SD card slot not working and the USB port not working. I just want to know how can i print something on this board without having to buy some thing.

First let me say I am not an expert in any of this in fact I am nearly average so when you explain something please make it as simple as possible. My goal with this post is to learn how to print WITH THIS BO

[2020-04-09 19:40] LegendAlexander commented on #122
You may find this video helpful
[https://youtu.be/vweMI8OHxmY](url)

[2020-04-09 19:43] LegendAlexander commented on #119
you may have done this but did you move the jumper over to usb before starting the motherboard

[2020-04-09 19:45] LegendAlexander commented on #119
then just clear the sd and add the new firmware

[2020-04-09 19:50] LegendAlexander commented on #97
I am actually running that build just fine. This is what i used [https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/tree/master/firmware/Marlin-bugfix-2.0.x%20SKR%20ProV1.1-Dmeo/Marlin-2.0.xSKR%20ProV1.1-Demo](url)

You may also find this video helpful:[https://youtu.be/VsKHwYtqLz0](url)

the only thing i can't get is the sd card slot to work for printing. And i don't know what else i could u

[2020-04-09 19:55] LegendAlexander commented on #112
@jukillo
what do you mean "print from usb" I thought the usb drive didn't work. How did you get it working?

[2020-04-09 19:56] GhostlyCrowd commented on #97
Configuation_adv.h

Change
#define SDCARD_CONNECTION LCD

to

#define SDCARD_CONNECTION ONBOARD

[2020-04-09 20:12] LegendAlexander commented on #97
i did but no luck

[2020-04-09 22:11] GhostlyCrowd commented on #97
Post your configs and I can compile with the latest pull of marlin if you want

Maybe it's a bug in the BTT source, I'm waiting for my board to arrive, so I cannot test though.

[2020-04-09 22:26] GhostlyCrowd commented on #97
Also forgot If are you using one of these in the SKR Pros pins file?

 // Use one of these or SDCard-based Emulation will be used
//#define SRAM_EEPROM_EMULATION   // Use BackSRAM-based EEPROM emulation
#define FLASH_EEPROM_EMULATION  // Use Flash-based EEPROM emulation

[2020-04-10 12:47] microhell commented on #25
осенило меня после просмотра твоего видео. и заливки твоего дампа(я понял что плата жива ну или по крайней мере  com port).
у меня gtr плата. в момент прошивки марлина пропало питание. и начались приключения.
при подсовывании на sd карте прошивки марлина - boot диод мигает, файл на карте переименовывается, диод остается гореть зеленым а не тухнет. плата не видит дисплей, компьютер не видит плату.

[2020-04-12 23:27] Black6spdZ opened #126 "MKS MINI12864 v2.0 and possibly others"
not sure how to do the pull request stuff but I had to modify the pins_BTT_SKR_PRO_v1_1.h with this to get the display to work - added just below ULTIPANEL entry:

#if ENABLED(MKS_MINI_12864)
      #define DOGLCD_CS PG3
      #define DOGLCD_A0 PG6
      #define LCD_PINS_RS PD10
      #define BTN_EN1 PG10
      #define BTN_EN2 PF11
      #define SD_DETECT_PIN PF12
      #define LCD_SDSS PB12

[2020-04-13 10:58] pecherskiy-v commented on #25
я не заметил в прошивке марлина инициализации проца, думаю как раз этим и занимается бутлоадер. с помощью st-link можно получить информацию о том что было инициализировано в момент его запуска. думаю нужно попробовать подключиться и пройти по шагам и посмотреть что делаем загрузчик или попробовать дисасамблером пройти по бутлоадеру ( но это нее самая приятная процедура )

[2020-04-13 16:09] TheMiguelBi commented on #23
Thanks for this info **johnny49r** !
I am trying to operate my PT100 amplifier. But I use another card, **BTT GTR v1.0**
The no-load measurement is 31°C, when it should measure 20-21°C.
I am feeding the electronics with a powerbank via USB. The power supply of the amplifier is not 3.3v but slightly lower (3.25v).

_Something escapes me ....._

[2020-04-13 22:45] Bob-the-Kuhn commented on #25
I don't quite know what is going on here but just in case it's of any use ...

Here are binary dumps of the bootloader section (0800 0000 - 0800 7FFF) and of all of flash with a Marlin 2.0.5.3 image in it ( 0800 0000 - 08040 3FFFF).
[BTT.zip](https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/files/4472171/BTT.zip)

These files were created by the STM32 ST-LINK Utility using a ST-Link V2.1 do

[2020-04-14 01:52] johnny49r commented on #23
Hi,

Please verify that you are using this PT100 amplifier:
https://wiki.e3d-online.com/E3D_PT100_Amplifier_Documentation#Schematic
This works fine with the BTT V1.3/V1.4 boards.

I couldn't find a schematic for the BTT GTR board but the thermistor table
calculation assumes that the thermistor analog input has a 4.7K ohm pullup
to VCC (in your case 3.25V). If the pullup value is different this wou

[2020-04-14 03:19] johnny49r commented on #23
Hi,

Sorry, one small detail I might have forgotten to mention: You need to add
the following text to the thermistors.h file located in the
Marlin/src/module/thermistor directory:

#if ANY_THERMISTOR_IS(22) // Pt100 with E3D amp @ 3.3v w/4.7K pullup
(BigTreeTech, etc.). Abbycus 2020
  #include "thermistor_22.h"
#endif

Also make sure the thermistor_22.h file is installed in that same directory.

T

[2020-04-14 05:44] microhell commented on #25
спасибо. но моя плата gtr v 1.0.  я искал bootloader от моей платы. выше я описал свою проблему с загрузчиком при пропадании питания в момент прошивки с sd.
а pecherskiy-v  хочет прошивать marlin c помощью st-link, без bootloader от btt.

[2020-04-14 08:01] Symbyos83 commented on #23
Hi johnny49r, I have found perhaps the problem that says TheMiguelBi, in the GTR wiring diagram there is a 22 ohm resistor in series, perhaps it is what creates temperature differences ...
<img width="482" alt="Schermata 2020-04-14 alle 10 01 04" src="https://user-images.githubusercontent.com/31854600/79200528-e0055100-7e36-11ea-91fd-38745e3a4675.png">

[2020-04-14 08:56] pecherskiy-v commented on #25
да все верно, я планирую прошивать его через ST-Link так как планирую производит удаленное обновление прошивки с возможностью свободно сменить прошивку например на smoothy или ещё что. и мне не удобно извлекать плату из устройства для прошивки, также наличие bootloader упрощает обновление марлина, но "закрывает" возможность работать с другими прошивками.
плату удобно использовать для целей не толь

[2020-04-14 10:03] johnny49r commented on #23
Hi symbyos83,

The 22 ohm shouldn't make any difference since it is connected to the ADC
input which is high impedance. The 22 ohm resistor and the two diodes are
there to protect the analog input from incorrect voltages that could damage
the chip but normally there is almost no current flow through the resistor.
Maybe TheMiguelBi might be using a different PT100 amplifier or perhaps he
forgot to

[2020-04-14 11:55] AlexanderAmelkin commented on #103
Please check the latest [commit](https://github.com/AlexanderAmelkin/Marlin/commit/9a35674b5f6c6bbaa98a3e73d3a8112fac4c8336) on my branch. If it works for you, I'll create a pull request into Marlin's bugfix-2.0.x

It works for me on my Geeetech Rostock 301 retrofitted with SKR Pro v1.1 and TMC2209 drivers.
Well, at least homing works. Haven't checked probing yet.

[2020-04-14 19:05] LegendAlexander opened #127 "How to add a filament runout sensor on skr pro"
I cant find any probe pins and i tried adding the sensor to the Xmax but it still wont act knowledge when filament is out. Actually i cant get the Xmax to trigger at all.

Aside from that i dont know where to remap the filament runout pin to since it seems there isnt one on the board.

I tried making this #Define Filament_Runout_Pin X_Max_Pin

Any ideas?

[2020-04-14 20:42] fiveofds commented on #103
Ok I will do it this weekend Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: Alexander Amelkin <notifications@github.com> Date: 4/14/20  7:55 AM  (GMT-05:00) To: "bigtreetech/BIGTREETECH-SKR-PRO-V1.1" <BIGTREETECH-SKR-PRO-V1.1@noreply.github.com> Cc: Mike Duncan <nacnudskim@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [bigtreetech/BIGTREETECH-SKR-PRO-V1

[2020-04-14 22:05] c3D-Dan commented on #120
Please see my post here :
https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/issues/115

[2020-04-14 22:06] c3D-Dan commented on #118
Time to replace your stm32f4 cpu or your board.  If you do replace your CPU, you’ll need to initially upload firmware via FTDI adapter.  Details here https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/issues/115

[2020-04-15 03:51] mqt0029 opened #128 "Weird behavior after plugging stepper motor"
I got mine to work on the test bench, so I took the motors drivers out to put on some heatsinks before actually drives the motors, and I plugged one of them in backward (or upside down I guess, doh!). Now the boards won't boot (TFT says no printer attached, command from ESP wifi doesn't reply anything, tried to reflash the firmware but it doesn't load the firmware.bin into FIRMWARE.cur)

Drivers a

[2020-04-15 06:46] AlexanderAmelkin commented on #103
@fiveofds, the fix is now in Marlin's bugfix-2.0.x branch, please update from there.

[2020-04-15 13:00] fiveofds commented on #103
Ok will do, thank you Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: Alexander Amelkin <notifications@github.com> Date: 4/15/20  2:46 AM  (GMT-05:00) To: "bigtreetech/BIGTREETECH-SKR-PRO-V1.1" <BIGTREETECH-SKR-PRO-V1.1@noreply.github.com> Cc: Mike Duncan <nacnudskim@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [bigtreetech/BIGTREETECH-SKR-PRO-V1.1] Sen

[2020-04-15 16:57] MikeVanDike commented on #122
I know Edwards Channel and this Video, but it is not helpful for me :-/
How can i define that when Fan0 is on that Fan1 is also on and Fan1 goes every time the same Fan Speed as Fan0?

[2020-04-16 14:47] DroneMang commented on #96
Does anyone on this thread have their current config and configuration advanced files for the SKR pro and TMC5160? I have been working with the 2209's but I can't seem to get above 350 milliamps without strong active cooling and I would like to not have a fan in the case. Thanks!

[2020-04-16 17:43] davidmarli opened #129 "Skr pro tmc 2130 :tmc connection error"
Hello.
Just biught thé board.
I plug à tft3. 5 v3. 0 on it.
And 5 tmc 2130 spi v3. 0
In marlin I déclare tmc 2130 as driver for x y z e0 and e1.
Disabled all stealthchop and stallguard to test (if i enabled it that s thé same).
When i switch on, tft connectés to thé printer. Température are OK. I can heat thé bed and extruder, but it says tmc connection error and no motors can be driven...
Nothing

[2020-04-16 18:06] kkosa1 commented on #129
search online for "gadgetangel" and you will find a huge document.  starting around page 199 for your issues.  I tried to forward it to you but file was too large.  I followed the guide and all is working fine for me for last few months.  Also be sure to enable M122 function in Marlin via     #define MONITOR_DRIVER_STATUS on line 2265 of bugfix from 4-15-20 in configuration_adv.h  as well as   #de

[2020-04-17 07:54] oldman4U commented on #58
Our Angel now becomes famous;-)

https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/issues/129

[2020-04-17 19:56] SrGeek opened #130 "Drv8825 drivers not recieving power"
I check vfer to adjust but there is no voltage across the driver, attached is a picture of the pins for MS1,MS2,MS3 and D.  Marlin setting changed drivers to drv8825.  need help thanks.  I checked VCC to ground and there is power.  However Vref does not have power and I cannot trip the drivers.  Since the Power out to the bed had the polarity reversed maybe there is something else in the circuit t

[2020-04-18 03:02] jimhiggs commented on #18
Glad I found this comment I was pulling my hair out trying to find the right combination to get both the usb and esp01 Wifi working together. So its one or the other onboard. Previously I had the esp01 plugged into the TFT and that gave me both . Problem I have been having is that running pronterface over USB it cant see files on the onboard sd and running ESP3D on wifi it cant read the SD card on

[2020-04-18 17:36] davidmarli opened #131 "Fan 0 ono more works ..."
I sould have done something wrong : the fan0 port osen't work anymore !!!
the led is not very bright.
Only 4V comes out ...
Is there a fuse to change ?
Fan 3 works well ...

Thank you for your help

[2020-04-20 18:51] SrGeek commented on #127
plug in an endstops 1st and see if the led light next to the E0 turns on.  If it does the pin works you just have to find the right Marlin changes

[2020-04-21 05:24] sn0wrider commented on #96
Hi, can you put works configuration files to google drive?
Best rgs

[2020-04-21 09:18] MikeEitel commented on #123
I agree that the impossibility to write a new .bin file via usb is a show stopper. Pitty me found that after i bought two complete mcu, lcd, driver combo's. Nice hw but not good supported sw. A shame.
Mike

[2020-04-21 14:13] GiovaneMunhoz commented on #96
Im using tmc5160 with 300-400 mah with no cooling at all, they run very cold. Just lower the mah.

[2020-04-21 14:13] GiovaneMunhoz commented on #96
I gave up of using sensorless, they dont work at all. Im using endstop in all axis.

[2020-04-21 16:14] DroneMang commented on #96
Here are working config files for an SKR Pro V1.1 with TCM 5160 V1.2 on an FT-6, BLTouch 3.1 in 5V and SW mode, sensorless homing. Sensorless homing works fine.  800 mah for XYZ and sensitivity set  M914 X2 Y4.

[Marlin-2.0.x-5160.zip](https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/files/4511154/Marlin-2.0.x-5160.zip)

5V mode may not be necessary, but having probe issues per here: https:

[2020-04-21 17:37] sn0wrider commented on #96
Thank you!!!

[2020-04-21 19:53] AustrianBossFan commented on #127
i had the same problem today. i'm using a mechanical endstop as filament rounout sensor.
the board has 3,3v on the vcc pins of the endstop connectors. when high the signal pin of the endstop only had 1.5v. although the endstop is labeld as 3-12v it does not work with 3,3v.

for x and y i'm using optical endstops, they work fine with 3,3v.

i ended up using the extension-2 connectors 5V, GND and PE

[2020-04-21 21:29] Baltazart commented on #127
Marlin 2.0.5.3 SKR-Pro v1.1 + Smart Filament Sensor

"pins_BTT_SKR_PRO_V1_1.h
#ifndef FIL_RUNOUT_PIN
#define FIL_RUNOUT_PIN PE15  //"PE15=Pin E0 X_MAX_PIN" SKR-Pro v1.1, SFS Smart Filament Sensor.
#endif
*****
"configuration.h"
#define FILAMENT_RUNOUT_SENSOR
#if ENABLED(FILAMENT_RUNOUT_SENSOR)
#define NUM_RUNOUT_SENSORS   1
#define FIL_RUNOUT_INVERTING true    //<<< pour moi c'est "true"
#define F

[2020-04-22 17:30] davidmarli commented on #112
same problem here !!
Utmost printing file stop at a moment.
Where do you find the "force next" option ?

[2020-04-22 17:45] jukillo commented on #112
Printing from USB = Printing from computer.

@davidmarli , force next option is showed in S3D when you print via USB (from computer).

[2020-04-24 16:19] davidmarli opened #132 "What a Bloody board !!!"
Hi, can't get printing with skr pro 1.1 !!!
Always bug.
I tried yet qith marlin 2.0.x bugfix ...
Now nothing is moving : homing failed reset ....

That's really shit ...

What version of marlin do you use and have you managed to uise this board ???

Thnak you and sorry, but that's a week I work on it all day, and always bug ...

[2020-04-24 16:44] GhostlyCrowd commented on #132
I'm on 2.0.x-Bugfix (bleeding edge) and its working fine for me.

I'd recommend turning off flash eeprom emulation and using SD though.

[2020-04-24 17:30] battlezone commented on #71
I am having the same issue but on the X-axis. Switching drivers did not help either. Marlin 2.0.5.1

[2020-04-24 17:37] davidmarli commented on #132
Now an another bug : I try to print an object.
And about a few couple of minutes all is shifted ....
That's a CoreXY. Befor having this board I had a Re-arm+ramps, and it never failed !!!

Do you think disables eeprom emulation can do something ???

[2020-04-24 17:54] GhostlyCrowd commented on #132
if its shifted your steppers or drivers are overheating and missing steps. whats your actual hardware.  I am using this board with 2209's with out an issue and I had to switch to sd eeprom because it was bugged for my BLTOUCH

[2020-04-24 18:10] davidmarli commented on #132
Dont rhinl so.
Tmc2130 voltage 0.7.
Current max in marlin 1000
There is à 12v fan 80mm at full stock. When you touch thé drivers (after 30 min pronting) They are cold...

Now I try baudrate 115200 instead of 250000, my last chance...

[2020-04-24 18:17] GhostlyCrowd commented on #132
While its plausible that you have a defective board, you've gone from "no moving at all" to "now another bug layer shifting"  it sounds more like software or user error related than the board its self's fault.  My 2130's have had ongoing random layer shifting on marlin for over a year to the point that I went with Klipper on that unit and haven't had a layer shift since.

[2020-04-24 18:18] davidmarli commented on #132
I think I just find the pb :
I wanted to touch the driver to see how warm they was, and I just touch the motor Y cable and it moves !!! The printer jump steps !!!

My wires are with dupont, and it seems not to connect well on the board !!
What a mess ....

I don't how to improve connnection ...

[2020-04-24 18:25] GhostlyCrowd commented on #132
Try re-crimping them I guess? Not sure what to tell you I have mine connected with Duponts just fine.  This isn't really a bug and the issue tracker isn't the place to voice your frustration in your efforts to get your hardware set up correctly.

[2020-04-24 18:28] davidmarli commented on #132
Yes? I know, but  I buy that card thinking it was a good board.
But reading the web, I found many users with pbs ...
What does "recrimping" mean ? Enlgish is not my forst langage

[2020-04-24 18:52] davidmarli commented on #132
Admin can delete the issue...

[2020-04-24 18:52] #132 closed

[2020-04-24 18:53] #131 closed

[2020-04-25 18:06] tphan26363 commented on #112
I having the same problem.  Print Ok using SD card on TFT-35. When print over USB port it's randomly stop and Octorprint report no communication.  How ever I can see that the temperature still report correctly.  Use fake acknowledgement, I some time can get it moving again .  How ever it always report:
Error:Line Number is not Last Line Number+1, Last Line: 132
This is look like  the communication

[2020-04-25 18:10] jukillo commented on #112
At least you can print in standalone using TFT-35.. Not I..

[2020-04-25 19:41] kojderek commented on #9
I have flashed my ESP01S with several various methods also from SD CARD but when I plug It to SKR PRO 1.1 no wifi connection appears :(

[2020-04-25 20:52] BaGRoS opened #133 "SKR PRO V 1.1 + TMC2208 UART"
Everything looks like it works.

		X	Y	Z	E
Enabled		false	false	false	false
Set current	700	700	1000	800
RMS current	673	673	994	795
MAX current	949	949	1402	1121
Run current	21/31	21/31	17/31	25/31
Hold current	10/31	10/31	8/31	12/31
CS actual	10/31	10/31	8/31	12/31
PWM scale	12	12	10	14
vsense		1=.18	1=.18	0=.325	1=.18
stealthChop	true	true	true	true
msteps		0	0	0	0
tstep		max	max	max	max
PWM th

[2020-04-27 03:20] SrGeek commented on #130
really guys nothing?

[2020-04-27 14:48] Flo082002 opened #134 "Gerber Files missing"
Hi.
It would be great if you could upload the Gerber files.
Because I had planned to modify the board and a working board as a reference would be great.
Many greetings
Flo S

[2020-04-28 21:57] abelsata opened #135 "Double carriage and stallguard"
Hi i am having trouble with dual carriage using tmc2130
When I try to activate dual carriage stallguard mode does not work on x.
If someone with an idex or who knows what may be happening would guide me, I would appreciate it.
my files are:

[Configuration .txt](https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/files/4548733/Configuration.txt)
[Configuration_adv.txt](https://github.com/bigtr

[2020-04-29 06:09] rflulling commented on #58
Still haven't gotten the thumbs up with her if she is ok with my spreading the links around especially in the SKR PRO forum. I mean I assume yes, since it's posted to git. But rather get a official answer from her than to assume. No replies to emails. ...

[2020-04-29 13:59] GhostlyCrowd commented on #58
https://github.com/GadgetAngel/SKR-PRO-V1.1-Stepper-Driver-Jumper-Configuration-Manual

[2020-04-29 14:44] GhostlyCrowd commented on #128
you've fried the MCU Time for a new board

[2020-04-29 18:20] xkongox commented on #33
Hi, I have SKR 1.4 mainboard with Marlin 2.0.5 + BT touch and REPRAP_DISCOUNT_FULL_GRAPHIC_SMART_CONTROLLER
I followed instructions with changing options in HardwareSerial.h.
I have tried install ESP-01S. It works in programator I can login via WIFI. But when install to the board, sth goes wrong. Sympthoms.

1. Normally during booting LCD buzzer is loud and annoying. With WIFI it is rather silent,

[2020-05-02 21:02] dryflow commented on #118
Had the same behavior, SKR PRO with TMC2209, BL-touch, sensorless homing on XY, fans over EXP2, eeprom on SD, worked several weeks like a charm. Two days ago prints gone bad after a few layers and I wondered why. Thought it could be the nozzle, so I changed it. After this procedure the printer made a few moves, heated up and then nothing else. TFT and Octoprint lost connection.

Make a long story

[2020-05-02 21:15] july7d opened #136 "BLtouch has 5 pins. Why does this board have 4 ports?"
BLtouch has 5 pins. Why does this board have 4 ports?

[2020-05-02 21:34] BaGRoS commented on #133
Configuration problem
//#define SOFTWARE_DRIVER_ENABLE

[2020-05-02 21:34] #133 closed

[2020-05-02 22:28] AnHardt commented on #136
Two of the BL-Touch pins are ground (GND).

[2020-05-02 22:56] GhostlyCrowd commented on #136
If you're not running a buck converter to say power the BL touch then only one ground is difference. If you are then you want the red and brown to go to the buck converter and the black ground goes to the board so the logic doesn't have a floating round from the board when the servo and trigger pins are signalling.

That's why the BLtouch has 2 grounds, and since the board is fully capable of powe

[2020-05-03 09:01] GLGShadow commented on #28
So, I'm having the same issue with my motors not moving, and I also have 2130s but don't understand the explanation/fix. Help?

[2020-05-04 08:10] oldman4U commented on #135
Good morning.

Dual carriage on which axis?

[2020-05-09 14:24] abelsata commented on #135
Double carriage on x axis

[2020-05-09 14:53] DroneMang commented on #41
I have an SKR PRO, and I am having the issue that the part cooling fan which I have set as below from pins (stock):

#define FAN_PIN                             PC8   // Fan0

will jump from a low speed to basically full blast when changing from S246 to S247.  As in there is not a gradual increase in fan speed.  Below S246 there is some adjustment to the speed that I can hear.  There may be some f

[2020-05-09 18:03] SevCr opened #137 "SKR PRO 1.1 - Can't flash the firmware.bin with SD Card"
Hi.
Just purchased the above card with TFT35 and TMC2208 drivers.
Screen says printer not connected. Downloaded new firmware for screen with new icons, which has updated ok, but it is not talking to board.
Downloaded latest Marlin Nightly Build for the board. Compiled in VSC, copied to sd card, but nothing is happening. I put the card in, power up, screen still "not connected", can not connect SKR

[2020-05-09 18:57] defalkner commented on #41
I believe PWM needs to be enabled

On Sat, May 9, 2020, 7:54 AM DroneMang <notifications@github.com> wrote:

[2020-05-09 19:04] DroneMang commented on #41
Do you mean:

FAN_SOFT_PWM

On Sat, May 9, 2020, 2:57 PM defalkner <notifications@github.com> wrote:

[2020-05-09 19:32] defalkner commented on #41
Yes, I have the SKR pro 1.1  and this was a bit of a nightmare for me to
figure out but it can be corrected. This is from my marlin code

*configuration.h*
#define FAN_SOFT_PWM
#define SOFT_PWM_SCALE 0

configuration_adv.h
#define USE_CONTROLLER_FAN
#if ENABLED(USE_CONTROLLER_FAN)
  #define CONTROLLER_FAN_PIN PE6           // Set a custom pin for the
controller fan
  #define CONTROLLERFAN_SECS 30

[2020-05-09 19:38] DroneMang commented on #41
Perfect!  I just set

#define CONTROLLER_FAN_PIN FAN2_PIN

but FAN2_PIN is PE6 in pins so same thing.

So do you still use M106 S255 down to 0 as usual?

[2020-05-09 21:31] daviddominguez commented on #112
I have the same issue. Have you found the problem?

[2020-05-09 21:48] oldman4U commented on #137
Hello SevCR.

Could you please take a picture which shows the connections you made between the SKR and the TFT.

Please also describe how you try to update the firmware and maybe you would like to attach the firmware here to your ticket.

I have a spare board where I can try things out, so I can check for you.

[2020-05-10 11:05] jukillo commented on #112
Nope.
I have given up.. and i know that more people have this issue, but nobody have solve it.

[2020-05-10 12:57] SevCr commented on #137
Hello oldman4U and thank you for response.

I have connected the screen following the diagram from github, this is quick sketch:
![image](https://user-images.githubusercontent.com/65086538/81499571-7d339800-92c4-11ea-98d5-18906b265c35.png)

Regarding the flashing it goes like that:
1. Downloaded latest Nightly build from marlin 2.0 bugfix
2. Compiled in VSC with SKR Pro 1.1 build enviroment
3. Cop

[2020-05-10 13:04] SevCr commented on #137
Pictures of card and screen:

![20200510_135929](https://user-images.githubusercontent.com/65086538/81499980-119efa00-92c7-11ea-8373-390c82468678.jpg)
![20200510_140001](https://user-images.githubusercontent.com/65086538/81499981-12d02700-92c7-11ea-9ec4-608cd9c850c8.jpg)

[2020-05-10 15:21] oldman4U commented on #137
Hi.

Thank you for the pictures and the file.

I renamed the firmware.bin.txt file from you to firmware.bin, copied it on my SDcard and put it into my board. Once I powered it up, the firmware led started to flash green for about 10 sec. and stopped then. This means that the firmware has been loaded and I got it confirmed, because me TFT could not connect to the board any more (because I use 11520

[2020-05-10 15:43] SevCr commented on #137
Hi.
Thanks a lot for comprehensive instructions.

I have tried that

Ive tried 2 different sd cards (one that came with board too), also tried formatting these.
I left it for about 20-30 seconds each time, but when I checked sd card it was the same file there. Shouldnt there be renamed file "FIRMWARE"?

Also the led you mentioned does not flash at all. For all the times I tried it never flashed.

[2020-05-10 17:36] oldman4U commented on #137
Once the firmware is flashed, the file firmware.bin is renamed too firmware.CUR, but the led must flash during upload. The funny thing is, that you can rename the .CUR to bin and you can "use" it again.

For me this sounds like a faulty board.

;-(

[2020-05-10 20:37] SevCr commented on #137
Thanks a lot for your assistance. I had feeling someting is wrong with board.

That is what I thought.

Anyway, I will get it exchanged and start again.

Once again thanks a lot!

[2020-05-10 21:37] oldman4U commented on #137
Hope you have more luck with the next board.

[2020-05-11 13:22] tphan26363 commented on #112
I use a very bad and long usb cable.. and now it is not stoping any more. Good and high quality cable don’t work. Short cable don’t work. Now it’s time to look for cheap low quality cable...

[2020-05-11 13:53] oldman4U commented on #135
Sorry, but i can not help you. I hope someone else has a similar setup and can help.

[2020-05-11 13:58] oldman4U commented on #130
hi.

Have you see this guide made by an angel: https://github.com/GadgetAngel/SKR-PRO-V1.1-Stepper-Driver-Jumper-Configuration-Manual

Hope this helps

[2020-05-11 16:55] bananafell3r opened #138 "LJC18A3-H-Z/BX with skr pro V.1.1"

[2020-05-11 17:03] bananafell3r commented on #138
Hi guys, i tryied to use this sensor LJC18A3-H-Z/BX with SKR PRO V1.1 in new marlin and the red light is always ON (clear light) but when i try to go home, the red light becomes dark red (that's ok) but the z axis doesn't stop, it goes down... i have activate in marlin this feature:

#define Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN
#define FIX_MOUNTED_PROBE

how i can salve this issue?
I have connected

[2020-05-11 18:25] jukillo commented on #112
I know that my problem is BTT touch communication. This is freezing uart communications randomly.

Printing from 12864 lcd, zero problems.

[2020-05-11 18:30] daviddominguez commented on #112
Im not using any TFT touch screen plugged on SKR 1.1, just a basic reprap discount screen, but even with this setup, USB connection dies (always) when I start printing through USB from simplify3D or randomly when connected. At least I can use SD card.

[2020-05-11 20:01] bananafell3r commented on #138
This is my problem

https://drive.google.com/file/d/1VMj-ehpRwcDDY5n6_ybFmMqRmnI9LKbX/view?usp=drivesdk

[2020-05-12 09:53] jukillo commented on #112
SKR pro? what marlin version? What buffer settings you have?

[2020-05-12 11:02] daviddominguez commented on #112
Yes, SKR 1.1 Pro with default buffer setting on bugfix-2.0.x branch

[2020-05-12 11:51] BunniKiller commented on #137
what worked for me was ...  ( SKR Pro V1.1 with a the TFT35 E3 V3 video) I had to download the version
BIGTREETECH_SKR_PRO_V1.1_Master.zip and extract it. Once I extracted, I opened folder " FIRMWARE", then opened SKRPROV1.1_MARLIN_V2.0_12864_16div-usually folder. Inside that folder is the FIRMWARE.bin file...  copy that to a TF ( SD Micro) card and insert it into the SKR PRO board and turn on mac

[2020-05-12 12:09] BunniKiller commented on #137
on a side note, once you have the issue above solved, you can use the USB port on the TFT35 to transfer files to be printed...

[2020-05-12 12:48] BunniKiller commented on #125
try using the bigtreetech_skr_pro_v1.1-master files/folder...
open/extract the zip and look in folder FIRMWARE, then open folder skrprov1.1 - marlinv2.0-12864p-16div-usually, copy the "FIRMWARE.bin" file and put on the SKR Pro board via the SD micro slot... turn on board and let it boot,   Things should work from that point...

and BTW is that a tft 35 video with touchscreen? if it is why are you

[2020-05-12 12:58] BunniKiller opened #139 "HOT BED out terminals backwards"
Just a heads up, the terminals ( screws) for the HOT BED output are marked opposite of the polarity that is actually being produced. I caught this by suprize.. I installed a relay for a 120VAC bed heater and the input on the relay required a DC volt input ( polarity sensitive), the relay wouldnt kick in even tho the relay led on the board showed it was on... I pulled out the volt meter to see how

[2020-05-12 13:07] BunniKiller commented on #122
you  could run the fans in a series wiring, but they will run at 1/2 speed...
POS volt supply---red wire---fan1---black wire----|---red wire---fan2----black wire----NEG volt supply..

[2020-05-12 13:28] GhostlyCrowd commented on #122
this is a bad idea unless both fans have the EXACT impenitence one will run and the other will most likely spin at all.

The correct way to do this is to use the CORRECT settings in marlin to opwerate extra fans, Look at the Auto Extruder fan configs in the configuration_adv.h  and also  Controller Fan

[code]

[2020-05-12 15:14] oldman4U commented on #139
Hello BunniKiller.

This topic has been discovered right after the board has been released: https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/issues/57

It would be great, if you could close your ticket.

Thank you

[2020-05-12 15:29] oldman4U commented on #137
Hi BunniKiller - again;-)

The problem is, that even without the TFT or anything else connected to the board, the firmware SevCR sent to me and which works fine with my SKR, does not update his board at all. The ability to connect the display or stepper motors or something else would have followed, once the board accept the firmware update.

[2020-05-12 18:27] BunniKiller commented on #139
Im new at this... how do I close it?

[2020-05-12 18:27] BunniKiller commented on #139
never mind i found the answer

[2020-05-12 18:27] #139 closed

[2020-05-12 18:35] BunniKiller commented on #122
if one has the file to open and look at it and do the proper "repairs" would be kewl, but sometimes all we are given is the firmware.bin file and I have yet to find a way to open and modify a bin file.  Im really new at this and have way more to learn than I have time... literally... cancer doesnt care about how much time one needs... but Im gonna learn as much as I can :)

[2020-05-12 21:18] George0023 opened #140 "E0 don't work with all other axis working"
So, I’m trying to set up my new custom 3d printer with skr 1.1 pro, I got 3 axes working but for some reason, I can't get E0 working (I did disable cold extrusion). I tested the motors and drivers and they all work fine. So I thought maybe there is something wrong with the board, so I swapped everything to E1 and it still doesn't work. Please help.

[2020-05-13 07:56] oldman4U commented on #140
Hi George.

Stupid question. And you assigned a stepper motor driver to E0...

Happened to me, that i assigned a thermistor to the chamber instead of the bed....

What a difference a line makes - sometimes

Georg

[2020-05-14 01:36] George0023 commented on #140
the heater for the hot end heat up correctly so, and when I press the extruder button I do feel the motor energize. so that shouldn't be a problem. Also, I cant get UART with tmc2208 fysetc by working with the printer. So I end up switching to ramps 1.4, and everything works fine, probably a board problem.

[2020-05-14 01:36] #140 closed

[2020-05-15 06:44] tiros76 commented on #23
@johnny49r

Man, a huge thanks to you for sharing this!  I was initially having the same issue with my SKR1.4 Turbo as @TheMiguelBi  was with my E3D pt100 board and your thermistor_22.h file and thermistor.h edit. I was consistently showing 7 degrees over ambient with the PT100 powered from the 3.3v rail.  So I decided to use an adjustable buck  converter connected to Vin to tune the supply voltag

[2020-05-16 05:50] SrGeek commented on #130
@oldman4U Yes that’s why I put the pics.  They match the document.  I haven't seen any one resolve this in any of the forums either.  !
Most give up and just wait on the TMC2209 or something similar.  Pretty disappointed

[2020-05-17 14:49] oldman4U commented on #130
I had a similar problem with A4988 with green pcb. Finally i switched to
2209 with sensorless homing and i love them. You can only hear the noctua
fans and they are well known to be very very quiet.

Hope they will work for you like they do for me!😁

SrGeek <notifications@github.com> schrieb am Sa. 16. Mai 2020 um 07:50:

[2020-05-17 16:22] 3dmadnessnl opened #141 "ender 3 skr pro v1.1 bltouch problem"
hi all
i have a problem whit the bltouch when i wil print with octoprint it wil work 1 time
wil i print the next print it wil not the norzel go in to the bed
if i print from sd it go all times good

setup
ender 3
bltouch v3 orgineel
skr pro v1.1
TFT35-E3 v3.0 LCD
marlin bugfix last one
octoprint last one

sorry my english is not too good
who has had the same problem and can help me with this

best

[2020-05-18 16:05] panecki commented on #23
Hi, does anyone have a working version 2.0.5.3(skr pro 1.1) with the MAX31865 amplifier? I've been working on the launch for several days and I'm still getting Err MAXTEMP: E1. I've also tested MAX31855 and MAX6675 I get the same error everywhere.

[2020-05-19 15:50] DaVincIan opened #142 "CoreXY not printing square"
I have a CoreXY printer that is 400 mm cube.

I'm driving the stepper motors with TMS2130 drivers. Everything is working fine, BLTouch homing, WiFi, SD card, ect. and 12896 LCD Bigtreetech LCD.

Currently I have Marlin 2.0x with Configuration 2.05.

I perform the SOP, homing X, Y, Z (in centre of bed). For testing, I move to X10, Y10. When I move to X10 Y370, the extruder "drifts" (moves) the left

[2020-05-19 17:00] 3dmadnessnl commented on #141
????

[2020-05-20 16:01] DaVincIan commented on #142
For all interested parties, I managed to solve the problem. It was a belt  with a broken core, causing it to stretch. Actually in my case both belts had a broken core.

[2020-05-20 16:02] #142 closed

[2020-05-21 01:44] Kiyotimun opened #143 "Want to use E2 for X2"
Has anyone tried to use E2 for X2. I have a dual extruder and I have everything working but this. I am going crazy when I have config, config.adv and pins and bigtree.pins open trying to put this together.

[2020-05-22 12:07] evandene commented on #52
It's now a few months ago and I wonder if you have managed to run you SKR PRO V1.1 board with the TMC5160 drivers

It's now a few months ago and I wonder if you have managed to run you SKR PRO V1.1 board with the TMC5160 drivers, did you? Could you please share your solution(s)?
Thanks

[2020-05-24 11:16] DarkShadowsX5 opened #144 "SKR pro 1.1, TMC2208 UART, unable to set micro steps permanently."
M122 reports that the micro steps is set to 8 but i set them to 32 in firmware.
01:11:13.042 : msteps		8	8	8	8
01:11:13.074 : tstep		        max	max	max	max
previously it reported that they were set to 256 before soldering the jumper but still moved as if in 1/8th mode.

#define X_MICROSTEPS 32
set on each driver in use. each have the jumper soldered and the single red jumper on uart mode next to

[2020-05-24 22:41] rhukster opened #145 "Z mechanical endstop not working with X/Y Sensorless"
I've spent hours scouring the web looking for a solution to this with no luck.  Let me outline my configuration:

I'm building a BLV MGN Cube printer with SKR Pro 1.1.  It has a triple-z axis setup that i'm going to level with a TH3D EZABL Pro sensor.  However, even before I get to fully testing the sensor, I'm stuck getting the Z endstop to detect being triggered using a simple OMRON mechanical s

[2020-05-24 23:20] GhostlyCrowd commented on #145
Andy, have you followed the correct guidelines for TMC 2209's and cut the proper pin off the stepper driver for the Z so it allows the limit switch to work?

[2020-05-24 23:28] rhukster commented on #145
Yes, as I originally stated, i have de-soldered (removed) the diag pins on all 3 of the Z-Axis 2209s.  The X, Y and E 2209s still retain their pins.. XY is working fine for sensorless homing. I don't believe the endstop lights on the board would illuminate at all if this was not the case?

[2020-05-25 00:03] GhostlyCrowd commented on #145
Sorry missed that on mobile i just assumed it was the easiest answer. Ive had a look at your configs nothing is glaring at me.  I'd probably post a bug report on the Marlin bugfix main repo.

[2020-05-25 00:39] rhukster commented on #145
I just want to make sure it's not a physical board issue before I post on the Marlin repo, but that was definitely my next stop if folks like yourself who are familiar with the SKR Pro, couldn't find any obvious issues. Thanks!

[2020-05-25 00:44] GhostlyCrowd commented on #145
Just to be clear so i understand, youre using a probe for levelling, the probe is NOT the z endstop, youre using a limit switch as z endstop and the BTT SKR board is showing the proper led configuration for open and trigger of the endstop on z?

If the above is all correct i think you have found an actual bug.

[2020-05-25 00:54] rhukster commented on #145
I intend on using the probe, but it's not connected right now.  Right now i just have a mechanical endstop plugged into the Z_MIN on the board.  So I have configuration in the files for the probe, but have not gotten that tested yet.

I originally tried the probe connected to the same Z_MIN (as you are supposed to configure it as it uses it's own controller box).  It did trigger on the EZABL Pro c

[2020-05-25 07:55] DarkShadowsX5 commented on #144
Upon further investigation i found that hitting the reset button on the tft24 screen board fixes the issue BUT when i do a full power reset and wait for the led to turn off. its reset to 1/8th mstep movement again. hit the reset on screen board and its at 32 msteps....

something must be conflicting causing it to boot in 1/8th msteps but be overwritten to what you set the drivers at in Configurati

[2020-05-26 09:36] MikeVanDike commented on #122
@GhostlyCrowd
Is it right when i make this

//#define E0_AUTO_FAN_PIN PC8 & PE5
or how can i synchronice it?

[2020-05-26 10:26] oldman4U commented on #137
@SevCr

Have you got a new board in the meantime?

[2020-05-26 13:41] phlebaspho commented on #112
In my case, after much A/B testing I realised it was not the TFT35 or pronterface that was losing connection - it was "device connected to Marlin serial port 2" that experienced the the comms loss. Moving the host device (in my case TFT35-E3) to the first serial port in Marlin config.h fixed it.

[2020-05-26 14:02] phlebaspho commented on #123
In my case, after much A/B testing I realised it was not the TFT35 - or Pronterface it was "device connected to Marlin serial port 2" that experienced the the comms loss. Moving the TFT35 to the first serial port in Marlin config.h fixed it.

I don't have an SDcard issue though - so I can reflash firmware at will - so this might not help you.

[2020-05-26 16:42] SevCr commented on #137
@oldman4U
Hi. Thanks a lot for your message. Due to problems getting SKR Pro 1.1 I am returning the faulty board and replacing it with SKR GTR 1.0

Would you have any recommendations as to the firmware or any particular settings for this board? I am upgrading Tronxy S5Pro (Core XY) and would like in the future to fabricate and install tool changer for 3 or 4 heads., but for now I want to get the p

[2020-05-26 16:56] anm8tor opened #146 "Build errors"
I wish I understood more about this to find the right information on my own. I have attempted a few fixes found elsewhere in GitHub, but to no avail. I am building Marlin 2.0.5.3 for the BTT SKR Pro V1.1 for my Eryone Thinker S (a CR10-like printer). Here is the information that AutoBuildMarlin outputs, specifically where the issues occur and create a failed build. I am running VSCode in Admin mod

[2020-05-26 18:01] rhukster commented on #145
Was my own fault! I had the endstops connected to Signal + V, instead of Signal + Ground.

[2020-05-26 18:01] #145 closed

[2020-05-26 19:51] oldman4U commented on #137
Hi SevCr.

Good to hear you got a new board. Unfortunately I have no experience with the GTR, nor have I ever tried Klipper. I am just a beginner with some knowledge related to the hardware I own, and because I got so much help from other users here, I try to give a little bit back. But because your issue is "solved" you may want to close this ticket and start new tickets for the GTR. I am sure th

[2020-05-26 21:18] jukillo commented on #112
Hum... interesting this.
How did you test it? I will check it this days..

Thanks for info!

[2020-05-26 22:31] BunniKiller commented on #122
now thats a way I didnt think about..  but it works in ladder logic and
basic, I dont see why it wouldnt work in C++ type of language. Im not sure
of the "and" in C++ is... ( if its an ampersand or the word "and" or a +
sign)
give it a try, if it doesnt work then all thats been lost is some time.
seriously dont believe it will do any physical damage to the hardware.

On Tue, May 26, 2020 at 4:36 A

[2020-05-27 07:54] battlezone commented on #143
Search for `X_DUAL_STEPPER_DRIVERS` in config advanced and enable it. Then in the pins file change the E2 pins to X2:
`#define X2_STEP_PIN        PD13
#define X2_DIR_PIN         PG9
#define X2_ENABLE_PIN      PF0
#ifndef X2_CS_PIN
  #define X2_CS_PIN        PG12
#endif`
And same for the E2_serial:
`  #define X_SERIAL_TX_PIN  PD6
  #define X_SERIAL_RX_PIN  PD6`

[2020-05-27 18:02] Kiyotimun commented on #143
I understand this, maybe I wasn't clear. I am using dual x carriages for the second extruder. I have everything programmed right (IMO) because I can print from extruder one with a few pretty good prints. Extruder 2 leaves a puddle of material since X2 isn't moving to try mirror mode which I actived in gcode in the print.

[2020-05-28 07:53] jukillo commented on #112
Seems to work..

#define SERIAL_PORT 1
#define SERIAL_PORT_2 -1

I only tried prints of 1,5h about, but all them finished well.

[2020-05-29 15:31] phlebaspho commented on #112
I lucked into finding a particularly pathological piece of gcode that would trigger the hang up after about 7 minutes.

Then it was a case of change everything relevant trying to find anything that made it better or worse.

I'm now at 100+ hours of printing without that issue recurring (plenty of other issues with being a bit too aggressive on movement speeds lately).

[2020-05-29 16:03] jukillo commented on #112
Finally seems that the problem is solved. Im still printing batch series of 1.5h - 5h but all jobs has finished well

Thanks phlebaspho!

[2020-05-30 08:29] daviddominguez commented on #112
Printing from USB or TFT?

[2020-05-30 11:09] reipet commented on #125
I have the same question. I finally got the Board running as I need it and could print through Pronterface already, later will add Octoprint but for now I need the SD-Card Option.

Im using the SKR Pro v1.1. on a Ender5 with Dual-Z and TMC2209, BLTouch and additional Eeprom on the I2C Port. I also have an BTT TFT35 V2.0 but neither SD-Slot is working. I can select both (On-Board and TFT one) from

[2020-05-30 15:25] rnelson197 opened #147 "Octopi with uart pins"
Is there a way to use the dedicated uart pins on the Skr pro to connect to the raspberry pi.   I connected the RX to TX and TX to RX and the gnd to gnd.  Updated Octopi config.txt and port.    When I attempt to connect to printer through octopi, it cannot connect.

Unexpected error while connecting to serial port: /dev/ttyAMA0 SerialException: '[Errno 13] could not open port /dev/ttyAMA0: [Errno 1

[2020-05-31 09:13] jukillo commented on #112
From TFT.
I havent tried from USB yet.

[2020-05-31 09:59] daviddominguez commented on #112
Its good to know that at least you are able to print for TFT, let me know if you achieve to print from USB. I'm still stuck in this part

[2020-05-31 14:51] MikeEitel opened #148 "Downloading .bin file via usb"
I tried to download a new  firmware.bin file on a running marlin 2.5.3 marlin.
I have not been able to do this.
It is a pain in my diy deltas to exchange the sd for every new version.
What do i wrong?
Thx Mike

P. S.
2x  skr pro with 6x tmc and tft 3.5

[2020-05-31 18:41] #137 closed

[2020-05-31 22:36] phlebaspho commented on #112
My experience is that I need a firmware  re-compile for that. I keep the TFT on port 1 by default - if I print over USB from pronterface/slic3r that device has the hang ups.

#define SERIAL_PORT -1
#define SERIAL_PORT_2 1

gives me print all day from USB.

#define SERIAL_PORT 1
#define SERIAL_PORT_2 -1

give me print all day from TFT.

Don't have a single build that swings both ways though.

[2020-06-01 11:05] codmpm commented on #115
As I've obviosly bricked my SKR 1.4, can someone point me to the *bootloader.bin* for it? It's an LPC1769 thus the SKR 1.1 bootloader won't work.

Also its difficult for me to find BOOT0 on the 1.4 board.
When I understood it correctly it should be R28 according to the schematics: https://github.com/bigtreetech/BIGTREETECH-SKR-V1.3/raw/master/BTT%20SKR%20V1.4/Hardware/BTT%20SKR%20V1.4-SCH.pdf
So I

[2020-06-01 12:11] AnHardt commented on #115
Dear @codmpm .
Here we are at the BIGTREETECH-SKR-PRO-V1.1 issue tracker. It's using a STM32F407 processor.
LPC-processors are completely out of scope here.

[2020-06-01 14:31] codmpm commented on #115
Oh, I'm sorry. I did see this when writing my comment.
Thank you!

[2020-06-01 15:50] AnHardt commented on #115
And why did you do it anyway?

[2020-06-01 15:52] codmpm commented on #115
Sorry... *did not* see it.

[2020-06-02 06:17] oldman4U commented on #148
Hi. What is the size of the firmware you try to upload?

More details what exactly does not work could also help.

Thank you

[2020-06-02 07:03] MikeEitel commented on #148
Can not remember but it is no matter of size.
When i write directly on the sd it works perfect.
I can not access the sd via ubs on the mks pro only. And i know generally how to do. As doing the same process with mks sbase works perfect.

[2020-06-02 08:46] AnHardt commented on #148
Absolutely nothing.
It does not work now.

Up to now this is not implemented for the STM32F4xx boards.
There are shy tries at https://github.com/stm32duino/Arduino_Core_STM32/pull/586 to prepare the MMC/CDC composite device for the used framework. But this is currently for SDIO only. Until a SPI version will reach Marlin another year will be gone.

[2020-06-02 09:20] MikeEitel commented on #148
That is a shame.
The board is nice.
But producing a board based on a chip that has not full sw support for the intented main market. That does not earn my respect.
Mike

[2020-06-02 11:25] oldman4U commented on #148
Maybe you will ask for other missing features like usb stick support or
print from sd card. Simple led support or filament runout sensor
connectors. - nope. But you get superb power handling, three controllable
fans and ESP01-S FW update through the board.

Hope this helps

Mike Eitel <notifications@github.com> schrieb am Di. 2. Juni 2020 um 11:20:

[2020-06-02 11:48] MikeEitel commented on #148
Does that mean that ESP01-S can write the firmware.bin to the onboard sd, so i do not have to dissasamble my printer for every change?

And sorry, i stick to my opinion: upgrade of the firmware via usb is a basic feature since long time. As an producer neglecting such a basic functionality is in my eyes not state of the art customer orientation

[2020-06-02 12:05] AnHardt commented on #148
The other way around. SKR-PRO-V1.1s boot-loader can update a connected ESP01-Ss firmware from the onboard SD-card.

[2020-06-02 14:21] oldman4U commented on #148
Hi Mike.

We all would love to see better USB and SD card support. At least the
possibilities and what does not work should be defined much better.

Mike Eitel <notifications@github.com> schrieb am Di. 2. Juni 2020 um 13:48:

[2020-06-05 05:22] sensenmann commented on #143
I think I can help you, please contact me (rene . huber [at] rhse . at). Please inform me here, when you sent a mail (I get a lot of spam recently)

[2020-06-07 23:46] sketch4x4 commented on #147
have you got 5v into the raspberry pi? if you connect a monitor to the pi does it boot up ok? that would be where I would start.

[2020-06-08 09:42] oldman4U commented on #148
Hi Mike.

Do you still need this ticket? If not, could you please be so kind and close it.

Thank you

[2020-06-08 09:46] oldman4U commented on #9
Hi.

Is this till an issue @kojderek? If so, could you please start a new ticket. Thank you

@rafaljot Hi. Could you please close this ticket in case you do not need it any more. Thank you

[2020-06-08 09:48] oldman4U commented on #12
Hello snow.

@SnowMB Please close this ticket in case you do not need it any more.

Thank you

[2020-06-08 10:54] MikeEitel commented on #148
To be honest
I'm verry tempted to let it in, as missing possibility is a main design feature. A customer oriented supplier should take such sw related drawbacks into acount!
You won't buy a fine sportscar when forced to fuel it by can just behind the rear seats.
The board itself is very nicely made hw, and i guess would have high sales potential. But my impression is that BTT does not do enough fo

[2020-06-08 10:55] MikeEitel commented on #148
But to be no too nasty i will close this not solved request

[2020-06-08 10:55] #148 closed

[2020-06-08 10:58] oldman4U commented on #148
Hi Mike.

I agree with you and I am not working for BTT or get paid by them. I am just a user who tries to clean up the tickets so someone new can find a topic before he starts a new ticket.

[2020-06-08 12:54] AnHardt commented on #148
Recently there was some movement.
https://github.com/stm32duino/Arduino_Core_STM32/pull/1088
https://github.com/MarlinFirmware/Marlin/pull/17222
https://github.com/MarlinFirmware/Marlin/issues/18157

So maybe i was a bit to pessimistic. (But still a long way to go.)

[2020-06-08 12:56] oldman4U commented on #130
Hello SrGeek.

What is the status of the issue?

[2020-06-08 13:13] MikeEitel commented on #148
Thx Anhardt and oldman4u
I'm aware of the progress in Marlin. Looking nearly every day whats going on.
It's this situation that good peoples like you are trying to solve problems, and not a company like BTT what has to be clearly stated.

Again Big thx for you
Mike

[2020-06-08 13:34] SnowMB commented on #12
sure. this is resolved :D

[2020-06-08 13:34] #12 closed

[2020-06-08 13:38] oldman4U commented on #148
Hi Mike. Feel free to be people like Anhardt and me😁

Mike Eitel <notifications@github.com> schrieb am Mo. 8. Juni 2020 um 15:13:

[2020-06-08 17:45] Sineos commented on #148
See here for a potential work around I'm using: https://github.com/OctoPrint/OctoPrint/issues/3522

[2020-06-08 21:25] oldman4U commented on #54
Hi Livenmach.

Would you please be so kind to close this ticket.

Thank you

[2020-06-08 21:35] oldman4U commented on #34
Hi bmarl.

Do we still need this ticket? If not, it would be great if you could close it.

Thank you

[2020-06-08 21:37] oldman4U commented on #30
Hello budi67.

Could you please close this ticket. Seems it is not needed anymore.

Thank you

[2020-06-08 21:38] oldman4U commented on #29
Hello chasinreno.

Seems this ticket has not been used for a while, so please close it.

Thank you

[2020-06-08 21:49] oldman4U commented on #111
Hello yakumoklesk.

Have you been able to solve the reported issue in the meantime?

Please let us know, thank you

[2020-06-08 21:50] oldman4U commented on #110
Hello Uri-34.

Could you please close this ticket.

Thank you

[2020-06-08 21:55] oldman4U commented on #101
Hello SolorEclipse.

Seems this ticket is not in use anymore, so could you please close it.

Thank you

[2020-06-08 21:56] oldman4U commented on #95
Hello blanosko.

Seems that this ticket is not needed anymore. So could you please close it.

Thank you

[2020-06-08 22:00] oldman4U commented on #92
Hello Shamoon78.

Seems this ticket has not been used for a while, so could you please close it.

Thank you

[2020-06-08 22:02] oldman4U commented on #88
Hello John2vdw.

Seems this ticket has not been used for a while, so could you please close it.

Thank you

[2020-06-08 22:03] oldman4U commented on #87
@thinkyhead (Please close this ticket due to inactivity)

Thank you

[2020-06-08 22:05] oldman4U commented on #86
Hello akarnaukh.

Seems this ticket has not been used for a while, so it would be great if you could close it.

Thank you

[2020-06-08 22:07] oldman4U commented on #85
Hi again.

Same for this ticket. Do you need any further help or can you close it?

Thank you

[2020-06-08 22:08] oldman4U commented on #84
Hello afkfurby.

Seems this ticket has not been in use for some time now, so cloudy you please be so kind and close it.

Thank you

[2020-06-08 22:10] oldman4U commented on #79
Hello MrLAtt.

Seems this ticket has not been used for a while, so i ask you to close it.

Thank you

[2020-06-08 22:11] oldman4U commented on #77
Hi davidmoreland.

Could you please close this inactive ticket.

Thank you

[2020-06-08 22:12] oldman4U commented on #74
Hello mittkonto.

Could you please be so kind and close this inactive ticket.

Thank you

[2020-06-08 22:15] oldman4U commented on #71
@thinkyhead (Please close this ticket due to inactivity)

Thank you

[2020-06-08 22:24] oldman4U commented on #120
Hello npmomchev.

Do you still need this ticket. Would be great if you could close it in case your issue has been solved in the meantime.

Thank you

[2020-06-08 22:25] oldman4U commented on #119
Hi chrisdruck.

Seems this ticket has not been used for a while, so could you please close it.

Thank you

[2020-06-08 22:27] oldman4U commented on #118
Hello Charly333.

Could you please let us know the status of the reported issue. In case the problem has been fixed in the meantime, it would be great if you could close your ticket.

Thank you

[2020-06-08 22:29] oldman4U commented on #117
Hello mcmuff91.

Could you please let us know the status of the reported issue and close this ticket, in case the issue has been solved in the meantime.

Thank you

[2020-06-08 22:31] oldman4U commented on #116
Hello Rhage.

Have you been able to solve the reported issue in the meantime?

Please let us know

[2020-06-08 22:32] #79 closed

[2020-06-08 22:41] Skippy1488 commented on #87
If I could close it I probably wood.

[2020-06-08 22:51] Rhage commented on #116
Yes, I was. But not in a way I'd probably advise duplicating.

It appears to be a bug/feature (depending on who you ask) of the Marlin 2.0 implementation of the m106 gcode

In my opinion it's a bug. The specification for that command states that when no fan parameter is provided with m106, which is how Cura sends this command with the setup I showed in my screenshots, it is supposed to default to

[2020-06-09 00:46] #54 closed

[2020-06-09 09:37] oldman4U commented on #52
Seems this ticket is not in use any more.

@thinkyhead (Could you please close this ticket due to inactivity)

Thank you

[2020-06-09 10:25] oldman4U commented on #116
Good to hear you have been able to solve the issue.

Would you please be so kind to close this ticket then, by clicking on the Close button right besides the Comment button..

Thank you

[2020-06-09 10:29] oldman4U commented on #87
Well Skippy1488, even you are a good person - for sure, you are not Lucano99 and he/she can close it as you know;-)

I would also close it if i could.....

[2020-06-09 10:54] oldman4U commented on #146
Hello anm8tor.

Have you been able to solve the reported issue in the meantime? If not, could you please attach your config and config.adv files.

Thank you

[2020-06-09 10:59] oldman4U commented on #123
Hello samgozman.

Have you been able to solve the reported issues in the meantime?

Please let us know

Thank you

[2020-06-09 12:50] #116 closed

[2020-06-09 13:52] #29 closed

[2020-06-09 13:53] chasinreno commented on #29
Thanks for the help. I eventually went back to sensors.  I got it working at a sensitivity setting of 6 but without notice it just quit working again.

[2020-06-09 16:16] mattster98 commented on #33
Looks like the fix is making into the base Marlin repo.  Going to try and merge it into this one and see if it works. :)

https://github.com/MarlinFirmware/Marlin/pull/17679

[2020-06-09 17:15] oldman4U commented on #29
Hi.

Maybe it would be worth to give it a try using a newer version of Marlin. I mean it is almost a year ago and Marlin has changed a lot since then.

But the most important thing is that you can use your printer and that you enjoy your hobby.

Thank you for closing the ticket

;-)

[2020-06-10 06:20] samgozman commented on #123
@oldman4U The problem is partially solved: SD cards working, but serial port via octoprint or simplify3d is dropping no matter the cable. And USB AM is still a dumb stub without any functionality

[2020-06-10 08:40] To0wnn commented on #127
The PE15 I want to use for filament run out but somehow is does not work. It is assigend correctly in pins.h and using using marlin bugfix 2.0.x and with tft35 v3
Any ideas? With the M119 command i see it is working correctly.
[https://to0wnn.com:5001/sharing/EmN4oMFoo](https://to0wnn.com:5001/sharing/EmN4oMFoo) Here are my configs

[2020-06-10 11:26] anm8tor commented on #146
Yes, I ended up fixing the issue. If I remember correctly, it had to do with setting the environment accurately in the ini file, then fixing some options for the menu that were on by default.

[2020-06-10 11:53] oldman4U commented on #146
This sounds great.

Please help us to keep this system usable and close all tickets you do not need anymore by clicking on the Close button right besides the Comment button.

Thank you

[2020-06-11 11:40] Charly333 commented on #118
Had different experiences. Sometimes new Card and reflashing the board brings it back to live - sometimes - on other boards - it doesn´t. Specially the thermistor channels in SKR boards will crash the board if they are getting in contact with some voltage from the heater or so.

[2020-06-11 11:40] #118 closed

[2020-06-11 18:06] drmshady opened #149 "24v fan"
hi

can I use 24v fan and hot end heater
thank you

[2020-06-11 20:11] oldman4U commented on #149
Hello drmshady.

This depends on your power supply. The SKR supports 3 different power inputs for Motor, Main and Bed and you can connect 12V OR 24V to each of the inputs. In case you connect a 24V power supply to the MAIN input, you will get 24V on the Fan and hot end output - in case you connect 12V, you will get 12V on the outputs.

Please let me know if you ned any additional information

[2020-06-11 22:20] oldman4U commented on #129
hello davidmarli.

Great to hear that everything works. Could you please help us to keep the ticket system useful by closing unneeded tickets.

Thank you

[2020-06-11 22:22] oldman4U commented on #128
Hello mqt0029.

Sounds like a hardware issue. Could you please be so kind and Close this ticket by clicking on the Close button right beside the Comment button.

Thank you

[2020-06-11 22:26] oldman4U commented on #127
Hello @LegendAlexander. Have you been able to solve the reported issue? If so, could you please close this ticket, thank you.

@To0wnn: This ticket seems to be inactive for some time now. Could you please open a new ticket so someone can try to solve your problem.

Thanks

[2020-06-11 22:30] oldman4U commented on #125
Hello @LegendAlexander.

Could you please let us know the status of the reported issue. Please close this ticket in case the problem has been solved in the meantime.

@reipet. Could you please start a new ticket, so someone can try to help. This ticket seems to be inactive.

Thank you

[2020-06-11 22:38] oldman4U commented on #123
Hi.

Great to hear the SD card is working now. Is this the SD card from the board or the TFT?

Yes, the missing USB drive support is a shame and many users would like to see this functionality.

Unfortunately i can not help with Octoprint - i am not using it.

[2020-06-11 22:44] oldman4U commented on #121
Hello davidmarli.

Could you please let us know the status of this issue? Please attach your config and config.adv file, in case you could not solve it in the meantime.

Thank you

[2020-06-11 22:55] oldman4U commented on #123
.... and have you tried to change the serial ports, like described here?

https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/issues/112

[2020-06-12 04:08] #129 closed

[2020-06-12 04:08] davidmarli commented on #129
Thank

[2020-06-12 04:08] davidmarli commented on #121
Work

[2020-06-12 04:08] #121 closed

[2020-06-12 07:05] drmshady commented on #149
Thank you
I have 24v power supply, so I think  it is ok

[2020-06-12 07:11] oldman4U commented on #149
It is. I need a downconverter to drive my 12v noctua fans.

Please do not forget to close your ticket once you don’t need it anymore.

Thank you

drmshady <notifications@github.com> schrieb am Fr. 12. Juni 2020 um 09:06:

[2020-06-12 10:54] #149 closed

[2020-06-13 23:31] SrGeek commented on #130
Still not resolved.  I got 2130 and 5160, I still cant get board to work.  Driver bad register problems.

[2020-06-13 23:32] SrGeek commented on #130
Not working is a stretch.  I can heat the bed, turn on the LCD display, turn on fans...but drivers....silent stepper drivers are too silent because they dont turn on.

[2020-06-14 05:45] samgozman commented on #123
Yes, I studied all issues before publish mine. At first, the motherboard didn’t work on the wire at all, then I set it up so that it would at least respond to commands. But the connection falls off when printing in the first minutes after warming up. I tried several different cables, Raspberry pi Zero, Orange Pi Zero, Windows PC, MacOs - no luck.
I tried several combinations of serial ports. On so

[2020-06-14 23:00] thinkyhead commented on #71
Only @trendelkamp or @bigtreetech can close this issue on their repository.

[2020-06-14 23:01] thinkyhead commented on #52
Only @trendelkamp or @bigtreetech can close this issue.

[2020-06-14 23:01] thinkyhead commented on #87
Only @Lucano99 or @bigtreetech can close this issue.

[2020-06-15 02:48] SrGeek commented on #130
I have continuity between the power and ground pin of the motor power, once I changed the 15A fuse.  pretty frustrated.

[2020-06-15 05:24] oldman4U commented on #71
@thinkyhead

Sorry Scott, this makes sense - my fault. Thank you

@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 05:26] oldman4U commented on #146
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 05:28] oldman4U commented on #130
So a broken fuse caused this issue? And you found the issue - this is great!

[2020-06-15 05:28] oldman4U commented on #128
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 05:30] #128 closed

[2020-06-15 05:35] oldman4U commented on #123
Hi.

Changing the serial port solved the problem. I expect you have see and activated the Octoprint related setting in the TFT firmware:

Keep Serial always On (ONLY SUPPORTED ON TFT24 V1.1, TFT35 V3.0, AND TFT28 V3.0)

Keep UART (Serial communication) alive in Marlin Mode
Allow seamless OctoPrint UART connection to the TFT's UART/serial expansion port no matter which mode the TFT is in.

Options:

[2020-06-15 06:33] frank-pian commented on #89
HI
Spindle/laser frequency only on supported HALs: AVR and LPC. What should I change if I want to change the frequency in SKR PRO?
thank you very much

[2020-06-15 06:38] oldman4U commented on #119
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:39] oldman4U commented on #117
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:39] oldman4U commented on #111
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:40] oldman4U commented on #110
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:43] oldman4U commented on #101
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:44] oldman4U commented on #95
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:44] oldman4U commented on #88
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:45] oldman4U commented on #87
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:46] oldman4U commented on #86
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:46] oldman4U commented on #85
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:47] oldman4U commented on #84
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:47] oldman4U commented on #77
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:47] oldman4U commented on #74
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:49] oldman4U commented on #52
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:49] oldman4U commented on #34
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:50] oldman4U commented on #30
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 06:50] oldman4U commented on #9
@bigtreetech Could you please close this unneeded ticket. Thank you

[2020-06-15 07:11] #88 closed

[2020-06-15 07:18] #34 closed

[2020-06-15 08:40] #95 closed

[2020-06-15 08:45] Shamoon78 commented on #141
I use bltouch skr pro and octoprint never have issue

[2020-06-15 08:46] Shamoon78 commented on #141
Try demo btt marlin it might work better

[2020-06-16 04:16] #101 closed

[2020-06-17 09:55] daviddominguez commented on #112
Thanks for your help, but I'm still stuck trying to print from USB, your config doesn't work for me. I'll keep trying combinations.

[2020-06-17 09:58] jukillo commented on #112
David, do you tried to print from usb disconnecting the tft screen?

[2020-06-17 10:47] daviddominguez commented on #112
No, should I disconnect it from cables and use the following configuration?:

#define SERIAL_PORT -1
#define SERIAL_PORT_2 1

Thanks in advance

[2020-06-17 10:53] jukillo commented on #112
If the problems come from the com ports, with this we are sure that only exists one open communication.

Try it. Lost to the river...

[2020-06-17 11:10] daviddominguez commented on #112
Same result :( this is quite frustrating.

[2020-06-18 00:32] SrGeek commented on #130
Motor power + and - are continuous.  My board is fried on all the driver sockets side.  Other than that everything else works, heaters, LCD etc.  My march order of SKR Pro boards never arrived (sad face) and Amazon doesn't sell them anymore.   So l am keeping the board stored somewhere maybe one day the PCB layout will become available and I will find what component  that got fried so I can solder

[2020-06-18 00:32] #130 closed

[2020-06-18 15:06] oldman4U commented on #130
Hi. Have tried to change the fuse ?

SrGeek <notifications@github.com> schrieb am Do. 18. Juni 2020 um 02:33:

[2020-06-20 07:58] schnello commented on #115
Is this realy 3.3V?
![image](https://user-images.githubusercontent.com/6481341/85196733-8446c080-b2dc-11ea-8e4f-a57d26649ead.png)

[2020-06-20 12:13] c3D-Dan commented on #115
Yes. Just because there is a Lm7805 offering 5v pins does not mean the logic voltage runs at 5v.  Look at the stm32f4v7 datasheet.

[2020-06-20 12:33] schnello commented on #115
@c3D-Dan

[2020-06-21 11:53] #86 closed

[2020-06-21 17:42] 3dmadnessnl commented on #141
no it is the same

[2020-06-21 17:49] SavingLifes commented on #141
Can you post the Config.h, Congig_adv.h and pins file please? I will investigate. Thank you

[2020-06-24 18:37] outtacontrol216 opened #150 ".cursor file on SD card"
where can i download the original .cursor file which is on the SD card?

[2020-06-24 20:40] oldman4U commented on #150
Hi outtacontrol216.

Why would you need the original firmware? I am sure this version is:
a. completely outdated and
b. will not work with your configuration, because it will unlikely fit your setup.

Please let us know, thank you

[2020-06-26 08:23] oldman4U commented on #150
@outtacontrol216

Are you still there???

[2020-06-27 10:21] Malaquitte opened #151 "MicroSD card reader no longer recognises any cards"
Hi,

The micro SD port on the motherboard suddenly stopped working. The TFT35 screen displays the following message "Read onboard SDCard error". I tried a lot of different sdcards, with different format type, never mind. I am now completely stuck because I have no way to flash the firmware on my motherboard.

Any ideas are welcome...

[2020-06-27 21:06] oldman4U commented on #151
So this happened after a firmware update?

[2020-06-28 08:16] Malaquitte commented on #151
Maybe, to tell the truth, my last flash was a few days ago and since I use the TFT35 usb port to print, I didn't realize it immediately.

[2020-06-28 12:50] oldman4U commented on #151
And firmware you can still upload?

Malaquitte <notifications@github.com> schrieb am So. 28. Juni 2020 um 10:16:

[2020-06-28 16:49] Malaquitte commented on #151
none anymore, that's the problem. No matter what file I have on a card, the message is always the same.

[2020-06-28 19:08] Majestix1970 opened #152 "SKR Pro v1.1 TMC2209v1.2 does not sensorless homing"
Hi all,

I have a problem with my new SKR Pro v1.1 and my  TMC2209 v1.2 Driver.

The driver have been used fully functionally in my old SKR 1.4Turbo. After switching the board using the old Marlin 2.0.5.4 configuration sensorless homing stopped working because it does not move at all when doing G28.
First I thought I need to readjust the sensitivity, but reducing it from the old values (x=130 y=19

[2020-06-28 19:27] Majestix1970 commented on #152
[Configuration_and_Configuration_adv.zip](https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/files/4842881/Configuration_and_Configuration_adv.zip)

[2020-06-28 19:27] Majestix1970 commented on #152
here are my .h files...

[2020-06-28 20:59] oldman4U commented on #151
Turn the printer off. Disconnect the TFT from the mainboard. Compile a firmware.bin file, copy it onto a SD card and insert the card into the SD card slot of the mainboard. Turn the printer on. Can you see the firmware update LED flash on the mainboard for approximately 10 seconds, before it stops flashing?

[2020-06-29 08:28] Majestix1970 commented on #152
sorry closed it unintentionally....

[2020-06-29 13:45] Malaquitte commented on #151
It's perfect, I managed to flash my motherboard and by plugging my screen I can now flash again.
Thanks for the advice, I would never have thought to incriminate the screen...
That said, it's hard to understand it, sometimes the screen stays black under the Marlin interface after a flash, sometimes the .bin file is not deleted but I see the green led blinking!

[2020-06-29 16:04] oldman4U commented on #151
So there is some improvement, that's great.

Please let me know in case there is anything else I can help you with. In case everything works fine, please help us to keep this system usable by closing this ticket

Thank you

[2020-06-29 16:25] #151 closed

[2020-06-29 17:44] oldman4U commented on #152
Hi.

I use the same board and driver and it works perfectly. I am sure we do not use the same motors and maybe also other factors are different, so there is not a lot to say - but it does work in general. I saw huge difference depending on the stiffness of the belts and i use 200mA for sensorless homing.

Hope this helps

[2020-06-29 18:12] Majestix1970 commented on #152
Hi oldman4u
Thanks for your reply...
My motors are simple NEMA17 driven with 24V
Belt strength I did check already
and overall the exact same mechanical setting is working fine with the SKR 1.4 Turbo😂
I assume I got a faulty board.. Grrr

[2020-06-29 21:43] oldman4U commented on #152
I have 2 SKRs in the meantime, one for testing and one in my printer;-)

So what are you going to do next?

[2020-06-30 12:58] Majestix1970 commented on #152
I am requesting an HW replacement of the SKR Pro 1.1 board
I do not see any issue with my configuration!

The board is also behaving completly unpredictable. One time the same sensitivy setting makes the print bed hit hard the end position. Next time it does not move at all because it is too sensitive.

[2020-07-01 10:07] oldman4U commented on #152
Sounds good and makes sense.

Last question. Are you using 12V or 24V and which power supply are you using?

[2020-07-01 18:33] Majestix1970 commented on #152
Hi
I use 24V and a regulate switched Power supply with 15A.

Why?

[2020-07-01 19:38] oldman4U commented on #152
I saw some other tickets in the past, where a broken or cheap power supply also caused random issues.Maybe i can find some time to update to your Marlin version, which version are you using at the moment? 2.0.5 or the latest and greatest from GitHub?

[2020-07-02 20:12] zbrozek opened #153 "C62 and C67 are too large and cause too-slow crystal start to use system bootloader in DFU mode"
The older system bootloader (BOOT0 set high, BOOT1 set low) present on the STM3240xxx series only waits 780 microseconds for the crystal to start. The SKR Pro 1.1 comes with 22 pF capacitors that over-load the crystal such that it can't start quickly enough to enable USB support within the system bootloader.

I replaced these capacitors with 12 pF capacitors and now the startup is fast enough that

[2020-07-04 14:16] zacomposites opened #154 "Ymax endstop is not working"
hi guys.

i am struggling to make y max endstop works. reason its ymax and not y min is because the y homing direction not right so i change it to 1, ive inverted everything on ymax endstop still when i check m119, nothing is triggered.

[2020-07-04 14:57] oldman4U commented on #154
Hi. Which version of the firmware are you using?

[2020-07-04 16:58] zacomposites commented on #154
Marlin bugfix 2.0.

On Sat, Jul 4, 2020, 6:57 PM oldman4U <notifications@github.com> wrote:

[2020-07-04 17:51] oldman4U commented on #154
And do you have physical endstops or are you using sensorless homing?

You may want to check this: https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1/issues/103#issuecomment-599070627

[2020-07-04 17:54] zacomposites commented on #154
I have physical endstop. Using 2208 driver uart. The board doesnt have +y
endstop like mks board etc. Does it mean i can only use min and not max?

On Sat, Jul 4, 2020, 9:51 PM oldman4U <notifications@github.com> wrote:

[2020-07-04 19:11] onichan88 commented on #135
Hello Abelsata, as I told you in the telegram group, you have to link the stallguard pin of the second extruser with the endstop signal of X_MAX with the cable that comes with the driver.

To not use of the cable, you can config the pins file of skr pro in the firmware of the skr pro v1.1 but I have to prove because I haven’t set that file OK.

But with the cable it works.

You can use M914 to see

[2020-07-04 21:32] jeffeb3 commented on #115
@c3D-Dan, Thank you so much for these instructions and .bin file. I managed to bring an skr pro back from the dead, and finding these instructions were key for me. I couldn't get my FTDI dongle to work in windows (I'm not a windows expert), but I did manage to do it in Linux. Here's what I did:

1. Set the Boot0 to 3.3V jumper (it is labeled on the underside)
2. Connect the FTDI Rx to Tx3 (LCD), F

[2020-07-05 07:14] oldman4U commented on #154
Hi

I use senseless homing on min and software on max. Maybe you can change an unneeded endstop to be used as max, but i do not know. Have you tried to change the y endstop pins like described in the link i sent to you?

[2020-07-05 20:17] zacomposites commented on #154
It Works!!! :) swap the Y min max value. Thanks !! 1 issue sorted. now my z axis doesnt want to move. all limit switch working fine. any idea?

[2020-07-05 20:18] #154 closed

[2020-07-05 20:22] oldman4U commented on #154
I learned from the best. Gurmeet.

But the z axis moved before? Also 2208?

zacomposites <notifications@github.com> schrieb am So. 5. Juli 2020 um
22:17:

[2020-07-05 20:24] oldman4U commented on #154
Just saw you closed the ticket. Seems all good. ;-)))

Thank you and happy printing

zacomposites <notifications@github.com> schrieb am So. 5. Juli 2020 um
22:17:

[2020-07-05 20:48] zacomposites commented on #154
Hm.. before i compiled with cheetah from kay3d using similar build size
printer. Z axis does work.  Problem is that it uses 2 z motor..

My printer is the cr3040. It does have dual z ball screw but really its
just single motor with belt attached to both.

So..yeah.  now it doesn't want to work

On Mon, Jul 6, 2020, 12:23 AM oldman4U <notifications@github.com> wrote:

[2020-07-05 21:18] oldman4U commented on #154
So, please reopen your ticket or start a new one. This ticket is closed...

The SKR Pro v1.1 can be setup in Marlin using a single Z and you can simply remove the jumpers from the second z Axis and connect a motor there. It will move both motors automatically.

[2020-07-06 06:00] zacomposites opened #155 "Z homing not in center of the bed and Z motor not moving."
Hi GUys, my homing direction and endstop are working fine now for X and Y. now to sort out Z axis. after X and Y homing done, the hotend goes to opposite direction all the way to other end and crush. does not goes to center of the bed and start probing(bltouch v3.1)

heres my setting for z safe homing

#define Z_SAFE_HOMING

#if ENABLED(Z_SAFE_HOMING)
  #define Z_SAFE_HOMING_X_POINT X_CENTER  // X

[2020-07-06 09:05] oldman4U commented on #155
Hi.

Does Z work properly without Z_SAFE_HOMING?

What is the size of your printing bed and what have you defined in config file?